.country-flag {
    height: 12px;

    aspect-ratio: 3 / 2;
    background-size: 100%;
    border-radius: 2px;

    display: flex;
    font-size: 0;

    box-shadow: 0 0 0 1px inset rgba(255, 255, 255, 0.3);
}

.has-flag {
    display: flex;
    align-items: center;
    gap: 4px;
}

.small-flag {
    width: 16px;
    height: unset;
    margin: auto 0;
}