.friends {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;

    animation: activity 0.35s var(--trans-function);

    &[data-live="false"]:not(:hover) {
        opacity: 0.7;
    }

    transition-property: opacity;
    transition-duration: var(--trans);
    transition-timing-function: var(--trans-function);

    &:hover {
        transition: none;
    }

    & > .user-avatar {
        --w: 48px;
        width: var(--w);
        height: var(--w);
        flex-shrink: 0;

        background: var(--avatar-generic-background);
        border-radius: var(--avatar-radius);
        overflow: hidden;
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        &.cover-art {
            border-radius: var(--item-med-radius);
        }

        & > img {
            width: var(--w);
            height: var(--w);
        }
    }

    & > .user-info {
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex: 1;
        overflow: hidden;

        & > .user-name {
            display: flex;
            align-items: center;
            gap: 6px;
            --w: 18px;
            cursor: default;
            position: relative;

            & > p {
                color: hsl(var(--c2), 80%);

                & > strong {
                    color: hsl(var(--c2));
                    font-weight: var(--font-weight-medium);
                }
            }

            & > .avatar {
                display: flex;
                width: var(--w);
                height: var(--w);
                overflow: hidden;
            }
        }

        & > .user-about {
            display: flex;
            align-items: center;
            gap: 4px;
            color: hsl(var(--c2), 80%);
            cursor: default;
            font-weight: var(--font-weight-medium);

            & > .bleh-icon {
                --icon-size: 14px;
            }
        }
    }
}
