.hide-link {
	text-decoration: var(--force-underline, none) !important;

	&>a:hover {
		text-decoration: underline !important;
	}
}

.metadata-column .cta-link-wrap a,
.lyrics-snippet-more-link>a {
	position: relative;
	padding-right: calc(12px + 4px);
	--left: none;
	--right: 0;
	--mask: var(--icon-16-external);
	--mask-size: 12px;
	--margin-top: -7px;

	&:hover,
	&:focus-visible {
		text-decoration: underline !important;
	}
}

a {
	color: oklch(var(--l3-c));
	text-underline-offset: var(--underline-offset);
	cursor: pointer;
}

.bottom-card-links {
	display: flex;
	justify-content: space-between;
	margin-top: var(--card-gap);
	gap: var(--card-gap);
}

.wiki-link {
	position: relative;
	padding-left: calc(12px + 2px);
	--left: 0;
	--mask-size: 12px;
	--margin-top: -6px;

	&[data-link-type="bleh"],
	&[data-link-type="bwaa"] {
		--mask: var(--icon-16-bleh);
	}

	&[data-link-type="user"] {
		--mask: var(--icon-16-user);
	}

	&[data-link-type="tag"] {
		--mask: var(--icon-16-tag);
	}

	&[data-link-type="artist"] {
		--mask: var(--icon-16-artist);
	}

	&[data-link-type="album"] {
		--mask: var(--icon-16-album);
	}

	&[data-link-type="track"] {
		--mask: var(--icon-16-track);
	}
}

.link-tooltip {

	&>.path,
	&>.scheme {
		color: oklch(var(--c3));
	}
}

a {
	display: inline-flex;
	align-items: center;
	gap: 4px;

	--icon-size: 12px;
	--mask-colour: color-mix(in oklch,
			oklch(var(--l3-c)),
			oklch(var(--l4-c)) 30%);

	position: relative;
	text-decoration: none !important;
	--force-underline: none !important;

	&:after {
		content: '';
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: var(--mask-colour);
		transform: var(--underline-scale, scaleX(0));
		transform-origin: bottom left;
		opacity: 0.6;

		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: var(--trans-function-ani);
	}

	&:hover,
	&:active,
	&[aria-expanded="true"] {
		&:after {
			transform: scaleX(1);
		}

		&>.bleh-icon-external {
			translate: 2px -2px;
		}
	}

	&.link-with-icon {
		&:after {
			right: calc(var(--icon-size) + 4px);
		}
	}
}

.link-block-cover-link {
	&:after {
		display: none !important;
	}
}
