.lastfm-bulk-edit-loading {
	background: unset;
	height: fit-content;
	margin-top: var(--card-gap) !important;
	padding: var(--card-padding) 0;

	.lastfm-bulk-edit-progress {
		font-weight: var(--font-weight-medium);
		color: oklch(var(--c3));
		padding-left: calc(var(--icon-size) + var(--icon-gap));
		position: relative;
		--left: 0;
		--mask: var(--icon-16-spinner);
		cursor: default;

		&:before {
			animation: spinner 1.2s linear infinite;
		}
	}
}

.lastfm-bulk-edit-form-group-controls {
	padding-left: unset !important;
	gap: var(--button-list-gap);

	button {
		position: relative;

		&#lastfm-bulk-edit-select-all {
			--mask: var(--icon-16-select-all);
		}
		&#lastfm-bulk-edit-deselect-all {
			--mask: var(--icon-16-deselect-all);
		}
	}
}

.lastfm-bulk-edit-list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: var(--card-gap);
}
