@import './dialog_lfm.css';

.bleh-modals {
	position: fixed;
	inset: 0;
	z-index: 9998;
	pointer-events: none;

	display: flex;
	justify-content: center;
	align-items: center;

	transition-property: background;
	transition-duration: var(--trans-short);
	transition-timing-function: var(--trans-function);

	&.has-dialog {
		pointer-events: auto;
		background: var(--modal-bg);
	}

	.bleh-modal {
		background: oklch(var(--b5) / var(--solarium-opacity, 90%));
		border-radius: var(--item-big-radius);
		box-shadow: var(--override-full-shadow, var(--overlay-shadow));
		border: 1px solid var(--card-border-base);
		color: oklch(var(--c2));
		padding: var(--card-padding);
		max-width: 800px;
		position: relative;
		z-index: 9999;

		backdrop-filter: var(--solarium);
		-webkit-backdrop-filter: var(--solarium);

		display: flex;
		flex-direction: column;
		gap: var(--card-padding);

		translate: 0 0;
		scale: 1;
		transform-origin: bottom;
		animation: var(--motion, modal_in 0.3s var(--trans-function-ani));

		transition-property: translate, opacity;
		transition-duration: 0.3s;
		transition-timing-function: var(--trans-function-ani);

		max-height: 80vh;

		[data-bleh--reduced_motion="true"] & {
			transition-duration: var(--trans);
			translate: unset !important;
		}

		&.to-remove {
			translate: 0 6px;
			opacity: 0;
		}

		&:not(:last-child) {
			display: none;
		}

		&[data-modal-type="setup"] {
			width: 1000px;
			max-width: 80vw;
		}

		&[data-modal-type="changelog"] {
			max-width: 660px;
			width: 100%;
			height: 100%;
		}

		&[data-modal-type="error"],
		&[data-modal-type="sponsor"] {
			.bleh-modal-title {
				display: none;
			}
		}

		&[data-modal-has-overlays="true"] {
			&:before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				height: var(--cards-overlay-height);
				max-height: 100%;
				display: var(--cards-overlay-display);

				background-image: var(--cards-overlay-image,
					unset), var(--cards-overlay) !important;
				background-size: 100px;
				background-repeat: repeat-x !important;
				background-position: 0 -60px !important;
				opacity: 0.9;
				border-top-left-radius: var(--card-radius);
				border-top-right-radius: var(--card-radius);
				pointer-events: none;

				/* fix for no-data-message overriding and stuff */
				margin: unset;
				width: unset;
			}
		}

		&[data-modal-type="avatar"] {
			background: unset;
			backdrop-filter: unset;
			-webkit-backdrop-filter: unset;
			padding: unset;
			outline: unset;
			border: unset;
			--override-full-shadow: none;

			.modal-close-button {
				display: none;
				--filter: blur(20px) contrast(40%);
			}
		}
	}

	@media (max-width: 980px) {
		padding: var(--card-gap) var(--card-gap) calc(var(--card-gap) + 60px);

		.bleh-modal {
			width: 96vw;
			max-width: 96vw;
		}
	}
}

@keyframes modal_in {
	from {
		translate: 0 6px;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

.bleh-modal-title {
	display: flex;
	gap: var(--item-list-gap);
	cursor: default;
	margin-right: calc(var(--modal-close-size) + 10px);
	z-index: 100;
	position: relative;

	h1 {
		margin: unset;
		color: oklch(var(--c1));
		font-size: 16px;
		line-height: 20px;
		font-weight: var(--font-weight-medium);
		letter-spacing: unset;
		text-align: left;
	}

	.bleh-modal-subtitle {
		color: oklch(var(--c3));
		line-height: 20px;
	}

	@media (max-width: 980px) {
		margin-left: calc(var(--modal-close-size) + 10px);
		justify-content: center;
	}
}

.modal-close-button {
	--bg: transparent;
	--bg-hov: var(--modal-button-hov);
	--bg-atv: var(--modal-button-atv);
	--shadow: none;
	--col: oklch(var(--c3));
	--mask-colour: currentColor;
	--font-size: 0;
	position: absolute;
	top: calc(var(--card-padding) - ((var(--modal-close-size) - 20px) / 2));
	right: calc(var(--card-padding) - ((var(--modal-close-size) - 20px) / 2));
	--icon-size: 16px;
	--left: calc((var(--modal-close-size) - var(--icon-size)) / 2);
	width: var(--modal-close-size);
	height: var(--modal-close-size);
	z-index: 100;
}

.bleh-modal-body {
	& > :first-child {
		margin-top: unset;
	}

	& > img {
		width: 100%;
		border-radius: var(--item-big-radius);
		box-shadow: var(--card-shadow);
		max-width: 560px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	& > .sep {
		margin: var(--card-gap) 0;
	}

	& > p:not(.big-modal-alert, .card-tip) {
		max-width: 430px;
	}
}

.bleh-modal-body[data-allow-scroll="true"],
.modal-inner-content.allow-scroll {
	max-height: 80vh;
	padding: calc(var(--card-padding) * 2) var(--card-padding)
		var(--card-padding) var(--card-padding);
	margin: calc(-1 * (var(--card-padding) * 2)) calc(-1 * var(--card-padding))
		calc(-1 * var(--card-padding)) calc(-1 * var(--card-padding))
		!important;
	overflow-y: hidden;

	border-radius: var(--item-big-radius);

	&:hover {
		overflow-y: auto;
	}

	--bg-mask: linear-gradient(0deg, white 96%, transparent);
	mask-image: var(--bg-mask);
	-webkit-mask-image: var(--bg-mask);
}
