.bleh-notifications {
	position: fixed;
	display: flex;
	flex-direction: column;
	gap: var(--button-list-gap);
	align-items: end;
	inset: 0;
	pointer-events: none;
	padding: calc(var(--auth-space, 0px) + 52px + var(--card-gap)) var(--card-gap);
	z-index: 99999999999;

	transition-property: right, opacity;
	transition-duration: 0.3s;
	transition-timing-function: var(--trans-function-ani);

	&[data-auth-open="true"] {
		/*--auth-space: 244px;*/
		right: -200px;
		opacity: 0;
	}
}

.bleh-notification {
	animation: notif var(--trans) var(--trans-function);
	pointer-events: auto;
	position: relative;

	overflow: hidden;

	--notification-verts: 12px;
	--notification-sides: 10px;

	background: oklch(var(--b5) / var(--solarium-opacity,
				var(--menu-opacity)));
	padding: var(--notification-verts) var(--notification-sides);
	border-radius: var(--radius-m);

	backdrop-filter: var(--solarium);
	-webkit-backdrop-filter: var(--solarium);

	display: flex;
	gap: var(--card-gap);

	background-image: var(--cards-overlay-image-subtle,
			unset) !important;
	background-repeat: repeat-x !important;
	background-position: 0 0 !important;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		box-shadow: inset 0 0 0 1px var(--card-border-base), var(--card-shadow);
		height: var(--cards-overlay-height);
		max-height: 100%;
		display: var(--cards-overlay-display);
		background: var(--cards-overlay);
		border-radius: var(--radius-m);
		pointer-events: none;

		/* fix for no-data-message overriding and stuff */
		margin: unset;
		width: unset;
	}

	text-align: left;

	&.fade-out {
		opacity: 0;
		animation: notif_out var(--trans) var(--trans-function);
	}
}

[data-notification-type="error"] {
	--hue-over: var(--hue-neg);
	--sat-over: var(--sat-neg);
	--lit-over: var(--lit-neg);
}

[data-notification-type="warning"] {
	--hue-over: var(--hue-orange);
	--sat-over: var(--sat-orange);
	--lit-over: var(--lit-orange);
}

[data-notification-type="success"] {
	--hue-over: var(--hue-pos);
	--sat-over: var(--sat-pos);
	--lit-over: var(--lit-pos);
}

.notification-actions {
	display: flex;

	margin: calc(-1 * var(--notification-verts)) calc(-1 * var(--notification-sides)) calc(-1 * var(--notification-verts)) 0;
}

.notification-action {
	position: relative;
	--bg: transparent;
	--bg-hov: oklch(var(--b4) / 40%);
	--bg-atv: oklch(var(--b4) / 60%);
	--mask-colour: oklch(var(--c3));
	--shadow: none;
	--font-size: 0;
	width: 30px;
	--button-verts: 0;
	--button-sides: 0;

	--icon-size: 14px !important;
	justify-content: center;
	gap: 0 !important;
}

.notification-progress {
	position: absolute;
	left: var(--button-sides);
	right: var(--button-sides);
	bottom: 0;
	pointer-events: none;

	display: flex;
	justify-content: end;
}

.notification-progress-fill {
	width: 100%;
	background-color: oklch(var(--l3-c) / 60%);
	height: 3px;

	border-radius: var(--radius-m);

	transition: width 0.1s linear;
}

.bleh-notification-icon-wrap {
	background-color: oklch(var(--b6) / 70%);
	padding: var(--notification-verts) var(--notification-sides);
	margin: calc(-1 * var(--notification-verts)) 0 calc(-1 * var(--notification-verts)) calc(-1 * var(--notification-sides));

	position: relative;
}

.bleh-notification-icon {
	&:not([data-notification-type="generic"]) {
		color: oklch(var(--l3-c));
	}
}

.bleh-notification-icon-back {
	position: absolute;
	inset: 0;
	background: linear-gradient(0deg, oklch(var(--f4) / 15%), transparent);

	&[data-notification-type="generic"] {
		display: none;
	}
}

.bleh-notification-title {
	color: oklch(var(--c2));
	font-weight: var(--font-weight);
	cursor: default;
}

.bleh-notification-summary {
	color: oklch(var(--c3));
	font-size: calc(var(--font-size) - 1px);
	cursor: default;
	max-width: 400px;
}

.masthead-popup {
	top: calc(52px + var(--card-gap));
	right: var(--card-gap);

	.masthead-popup-inner {
		animation: notif var(--trans) var(--trans-function);
		background: oklch(var(--b5));
		border-radius: var(--item-big-radius);
		box-shadow: var(--menu-shadow);
		padding: var(--card-gap);
		color: oklch(var(--c2));

		&:before {
			display: none;
		}

		.masthead-popup-title {
			font: inherit;
			font-weight: var(--font-weight-medium);
			color: oklch(var(--c1));
		}

		p+p,
		.masthead-popup-text+.masthead-popup-text {
			margin-top: var(--card-gap);
		}

		.masthead-popup-close {
			--bg: transparent;
			--bg-hov: oklch(var(--b3) / 40%);
			--bg-hov: oklch(var(--b3) / 60%);
			--left: var(--icon-half);
			--font-size: 0;
			--mask: var(--icon-16-x);
			opacity: unset !important;
			top: calc(var(--card-gap) - 7px);
			right: calc(var(--card-gap) - 7px);
		}
	}
}
