.profile-mobile-featured-track,
.header-featured-track {
    display: none !important;
}

.featured-item-panel {
    background: var(--card-specific-background) !important;
    --card-specific-background:
        linear-gradient(oklch(var(--b5)), oklch(var(--g4))) padding-box,
        linear-gradient(
                0deg,
                oklch(var(--l3-c), 80%) 0%,
                oklch(var(--b5)) 100%
            )
            border-box;
    border: 2px solid transparent !important;
    padding: calc(var(--card-padding) - 2px) !important;
    box-shadow: var(--card-shadow) !important;
    margin-top: var(--card-padding) !important;

    /*.cover-art {
        background: linear-gradient(180deg, oklch(var(--h3), 20%) 0%, var(--avatar-generic-background) 100%);
    }*/

    @media (max-width: 980px) {
        --card-specific-background: linear-gradient(
                oklch(var(--b5)),
                oklch(var(--g4))
            )
            padding-box;
        border: unset !important;
        padding: var(--card-padding) !important;
    }

    [data-ff--beret="true"] & {
        background: unset !important;
        border: unset !important;
        padding: var(--card-padding) !important;
        box-shadow: unset !important;

        [data-ff--short="true"] & {
            padding: unset !important;
            margin: 0 var(--card-padding) !important;
            order: -10;
        }
    }

    display: flex;
    flex-direction: column;
    gap: var(--card-gap);

    .track-template {
        display: flex;
        gap: var(--item-list-gap);
    }

    .sub-text {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin: unset;
    }

    form {
        display: flex;
        justify-content: end;

        .featured-item-manage {
            color: oklch(var(--c3)) !important;
            --mask-colour: currentColor !important;
            text-transform: lowercase !important;

            --mask: var(--icon-16-trash);

            &:hover {
                color: oklch(var(--l3-c)) !important;
                --mask-colour: color-mix(
                    in hsl,
                    oklch(var(--l3-c)),
                    oklch(var(--l4-c)) 30%
                ) !important;

                --hue-over: var(--hue-neg);
                --sat-over: 1;
                --lit-over: 1;
            }
        }
    }
}
