.status-cafe {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .status-cafe-top {
        display: flex;
        font-size: 13px;
        color: hsl(var(--c3));

        .status-cafe-author {
            flex: 1;
            flex-shrink: 1;
        }

        .status-cafe-time {
            flex-shrink: 0;
        }
    }

    .status-cafe-content {
        display: flex;
        gap: 4px;

        .status-cafe-emoji {
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 18px;
            font-size: 11px;
            --icon-size: 14px;
            width: 14px;

            .status-cafe-loading-spinner {
                display: flex;
                align-items: center;
                --icon: var(--icon-16-spinner);
                animation: spinner 1s linear infinite;
            }

            & > .bleh-icon {
                --icon: var(--icon-16-x);
            }
        }

        &.is-loading {
            color: hsl(var(--c2), 80%);
        }
    }
}
