.profile-summary {
    display: flex;
    flex-direction: column;
    gap: var(--card-gap);

    --w: 30px;
    --c: 3;
    --g: 4px;

    margin-bottom: calc( (-1 * var(--card-padding-v)) + var(--card-gap) );
}

.summary-title {
    margin: unset !important;

    display: flex;
    align-items: center;
    gap: 10px;
}

.on-tour {
    display: flex;

    background: oklch(var(--f4) / 20%);
    color: oklch(var(--l3-c));
    font-size: 12px;
    font-weight: var(--font-weight-bold);
    padding: 0 6px;
    border-radius: 4px;

    --hue-over: 11;
    --sat-over: 1.53;
    --lit-over: 0.93;
}

.summary-main {
    display: flex;
    gap: 30px;
}

.summary-blocks {
    display: flex;
    gap: var(--card-gap);
    cursor: default;
}

.summary-block {
    display: flex;
    align-items: center;
    gap: 4px;
}

.summary-icon {
    display: flex;
    align-items: center;
}
.bleh-icon-summary {
    color: oklch(var(--c3));
    --icon-size: 14px;
}

.summary-info {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 4px;
}

.summary-label {
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight);
    color: oklch(var(--c3));
}

.summary-value {
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-medium);
}


.graph-blocks {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(var(--c), 1fr);

    justify-content: start;
    gap: var(--g);

    max-height: calc((var(--w) * var(--c)) + (var(--g) * (var(--c) - 1)));
}

.graph-block {
    width: var(--w);
    height: var(--w);
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: oklch(var(--h3));
    color: oklch(var(--b7));
    border-radius: var(--item-small-radius);
    box-shadow: 0 0 0 1px inset oklch(var(--h2) / 10%);

    cursor: default;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        inset: 0;

        display: block;

        border-radius: inherit;

        box-shadow: 0 0 0 2px inset oklch(var(--l2-c)), 0 0 0 4px inset oklch(var(--b5) / 40%);
        scale: 1.1;
        opacity: 0;

        transition-property: scale, opacity;
        transition-duration: var(--trans);
        transition-timing-function: var(--trans-function);
    }

    &.empty {
        background-color: oklch(var(--b6) / 50%);
        box-shadow: 0 0 0 1px inset var(--separator-base);
        color: oklch(var(--c2));
    }

    &:hover {
        &:before {
            scale: 1;
            opacity: 1;
        }
    }

    transition-property: filter, background-color, box-shadow;
    transition-duration: 1s;
    transition-timing-function: var(--trans-function-ani);

    transition-delay: var(--delay, 0s);

    &.level-0 {
        background-color: var(--summary-block-0);
    }

    &.level-1 {
        background-color: var(--summary-block-1);
    }

    &.level-2 {
        background-color: var(--summary-block-2);
    }

    &.level-3 {
        background-color: var(--summary-block-3);
    }

    &.level-4 {
        background-color: var(--summary-block-4);
    }

    &.level-5 {
        background-color: var(--summary-block-5);
    }

    &.level-6 {
        background-color: var(--summary-block-6);
    }

    &.level-7 {
        background-color: var(--summary-block-7);
    }

    &.level-8 {
        background-color: var(--summary-block-8);
    }

    &.level-9 {
        background-color: var(--summary-block-9);
    }
}

.summary-sep {
    width: 1px;
    height: calc((var(--w) * var(--c)) + (var(--g) * (var(--c) - 1)));
    display: block;
    background: var(--separator);

    flex-shrink: 0;
}

.month-graph {
    flex: 1;

    & > tbody,
    & > table {
        display: none;
    }

    & > .scrobble-canvas-container {
        display: flex;
        gap: var(--card-gap);

        &:before {
            display: none !important;
        }
    }
}

.monthly-chart-line,
.monthly-chart-pie {
    height: calc((var(--w) * var(--c)) + (var(--g) * (var(--c) - 1))) !important;
}

.monthly-chart-line {
    flex: 1;
}

.monthly-chart-pie {
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
    width: 100px;
}

.monthly-canvas {
    width: 100% !important;
    height: calc((var(--w) * var(--c)) + (var(--g) * (var(--c) - 1))) !important;
}

.monthly-canvas-pie {
    width: 100% !important;
    height: calc((var(--w) * var(--c)) + (var(--g) * (var(--c) - 1))) !important;
}