@import './messages.css';
@import './notifications.css';

.inbox .inbox-buttons {
	padding-top: unset;
	padding-left: 12px;
	padding-bottom: var(--card-gap);

	display: flex;
	align-items: center;
	gap: 12px;

	position: relative;

	& > .setting {
		width: 16px;

		& > .heading {
			display: none;
		}
	}

	.inbox-compose-button {
		position: relative;
		--mask: var(--icon-16-compose);

		position: absolute;
		top: 0;
		right: 0;
	}
}

.inbox-delete-button {
	--hue-over: var(--hue-neg);
	--sat-over: 1;
	--lit-over: 1;
}

.inbox-message-status,
.inbox-message-status:after {
	display: none !important;
}

.inbox-message-select {
	width: 14px !important;
}

.back-button,
.delete-button {
	display: flex;
	margin: unset !important;
}
.back-button {
	--mask: var(--icon-16-arrow-left);
}
.delete-button {
	--mask: var(--icon-16-trash);
	--hue-over: var(--hue-neg);
	--sat-over: 1;
	--lit-over: 1;
}
