.notification-list {
	display: flex;
	flex-direction: column;
	gap: var(--button-list-gap);

	.notification {
		display: flex;
		align-items: center;
		gap: 12px;
		margin: unset;

		position: relative;

		& > .link-block-cover-link {
			position: absolute;
			inset: 0;
		}

		& > .message-checkbox {
			width: 16px;
			z-index: 3;

			& > .setting {
				& > .heading {
					display: none;
				}
			}
		}

		--bg: oklch(var(--b4) / 40%);
		--bg-hov: oklch(var(--b4) / 80%);
		--bg-atv: oklch(var(--b4));
		--shadow: none;
		--padding: 12px 12px;
		transform: none !important;

		&.valentine {
			--hue-over: var(--hue-valentine);
			--sat-over: var(--sat-valentine);
			--lit-over: var(--lit-valentine);

			& > .message-content > .message-subject {
				color: oklch(var(--l3-c));
				font-weight: var(--font-weight-medium);
			}
		}

		&.mini {
			--padding: 5px 10px;
			width: 100%;

			.notification-avatar {
				& > .avatar {
					width: 32px;
					height: 32px;
					--mask-size: var(--cover-size-32);

					& > .avatar-status-dot {
						--mask-size: 14px;
					}
				}
			}

			.notification-time {
				display: none;
			}

			.notification-content.not-main {
				width: 100px;
			}
		}

		& > .bleh-icon {
			flex-shrink: 0;
		}

		&[aria-checked="true"],
		&.active {
			--bg: oklch(var(--h4) / 35%);
			--bg-hov: oklch(var(--h4) / 45%);
			--bg-atv: oklch(var(--h4) / 55%);
			--shadow: 0 10px 50px 5px oklch(var(--h4) / 35%);
			z-index: 20;
		}

		.notification-avatar {
			z-index: 10;
			flex-shrink: 0;

			& > .avatar {
				background: oklch(var(--b5));
				width: 42px;
				height: 42px;
				--mask-size: var(--cover-size-50);

				& > img {
					position: static;
				}

				& > .avatar-status-dot {
					width: var(--mask-size);
					height: var(--mask-size);
				}
			}
		}

		.notification-content {
			min-width: 0;
			flex-shrink: 0;

			&:not(.not-main) {
				flex: 1;
			}

			&.not-main {
				width: 200px;
			}

			.notification-title {
				flex: 1 1 auto;
				min-width: 0;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.notification-context {
				display: flex;
				align-items: center;
				gap: 4px;
				color: oklch(var(--c3));
				--mask-colour: currentColor;

				min-width: 0;

				& > .bleh-icon {
					--icon-size: 12px;
				}

				& > .notification-type {
					display: flex;
					align-items: center;
					gap: 4px;

					--icon-size: 14px;

					flex: 1 1 auto;
					min-width: 0;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					& > span:last-child {
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						flex: 1 1 auto;
						min-width: 0;
					}
				}
			}
		}

		.message-content {
			flex: 1;
			min-width: 0;

			.message-subject {
				color: oklch(var(--c3));
			}

			.message-subject,
			.message-summary {
				display: -webkit-box;
				overflow: hidden;
				text-overflow: ellipsis;
				line-clamp: 1;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
			}
		}

		.notification-time {
			color: oklch(var(--c3));
			font-weight: var(--font-weight);
			font-size: 13px;

			flex-shrink: 0;
		}
	}
}

.mini-notifications {
	text-align: left;
	font-size: var(--font-size);
	line-height: var(--line-height);

	width: 400px;
	height: 287px;

	@media (max-width: 980px) {
		width: 100%;
	}

	&.content-loading {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.notifications-panel {
	.form-group--submit {
		margin-top: unset !important;
		margin-bottom: var(--card-gap);

		.form-submit {
			justify-content: end;
		}
	}
}

.notifications {
	margin-top: unset !important;
	margin-bottom: var(--card-gap);
}
