.palette {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
	gap: var(--gap, var(--button-list-gap));
}

.swatch-group {
	display: flex;
	justify-content: center;
	gap: var(--gap);

	--gap: 8px;

	.palette {
		display: flex;
		flex-direction: column;

		@media (max-width: 980px) {
			flex-direction: row;
		}
	}
}

.swatch-info {
	flex-wrap: wrap;
	gap: var(--item-list-gap) !important;

	&.has-hover {
		& > .swatch-group > .swatch-container:not(:hover) {
			& > .swatch-inner {
				opacity: 0 !important;
				translate: 0 2px !important;
			}
		}
	}
}
.swatch-sep {
	width: 2px !important;
	height: 12px !important;
	margin-bottom: calc(66px - 24px);
	border-radius: 10px;
}
.theme-bubble-sep {
	width: 2px !important;
	height: 14px !important;
	margin-top: calc((50px - 14px) / 2);
	border-radius: 10px;
}

.swatch-container {
	--bg: transparent;
	--bg-hov: transparent;
	--bg-atv: transparent;
	--shadow: none;
	--padding: 0 4px;
	margin: unset !important;
	--radius: 0;

	transform: none !important;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--item-list-gap);

	min-height: 66px;

	& > .swatch-inner,
	& > .swatch[data-swatch-type="colour"]:before {
		opacity: 0;
	}

	&[aria-checked="true"] {
		& > .swatch:before {
			opacity: 1;
		}

		& > .swatch-inner {
			translate: 0 0 !important;
			opacity: 1 !important;
		}

		& > .swatch {
			background: oklch(var(--h3));

			&:after {
				scale: 1 !important;
				opacity: 1 !important;
			}
		}
	}

	&:hover {
		& > .swatch-inner {
			color: oklch(var(--c3));
			translate: 0 0 !important;
			opacity: 1 !important;
		}
	}

	&:not([aria-checked="true"], :hover) {
		& > .swatch-inner {
			pointer-events: none;
		}
	}

	&:active {
		& > .swatch {
			scale: 0.95;
		}
	}
}

.swatch-inner {
	margin: 0 -150px;

	translate: 0 2px;
	opacity: 0;

	transition-property: translate, opacity;
	transition-duration: 0.3s;
	transition-timing-function: var(--trans-function-ani);
}

.swatch-name {
	color: oklch(var(--l3-c)) !important;
}

.swatch-desc {
	color: oklch(var(--c3));
	font-size: 13px;
	margin-top: -2px;
}

.swatch.colourful {
	background: oklch(var(--h3));
	box-shadow:
		var(--primary-shadow),
		0 3px 12px oklch(var(--h4) / 32%),
		var(--interact-shadow);
	color: oklch(var(--b7));
	--mask-colour: currentColor;
	--font-size: 0;

	position: relative;
	--mask-size: var(--icon-size);
	--mask: var(--icon-16-check-thick);
	--top: 50%;
	--left: 50%;
	--margin-top: calc(-1 * (var(--mask-size) / 2));
	--margin-left: calc(-1 * (var(--mask-size) / 2));
	border-radius: var(--item-small-radius);

	width: 22px;
	height: 22px;

	&[data-swatch-type="colour"] {
		--mask-size: 12px;
	}

	&[data-swatch-type="default"] {
		--mask: var(--icon-16-themes);
	}
	&[data-swatch-type="season"] {
		--mask: var(--icon-16-season);
	}
	&[data-swatch-type="adaptive"] {
		--mask: var(--icon-16-adaptive);
	}
	&[data-swatch-type="avatar"] {
		--mask: var(--icon-16-user);
	}
	&[data-swatch-type="customise"] {
		--mask: var(--icon-16-edit-mini);

		&:not([aria-checked="true"] > &) {
			background: oklch(var(--b6) / 20%);
			color: oklch(var(--c2));
			box-shadow: var(--group-shadow);
		}
	}

	&:not([data-swatch-type="customise"]) {
		color: oklch(0 0 0);
	}

	transition-property: scale;
	transition-duration: 0.2s;
	transition-timing-function: var(--trans-function-ani);

	&:after {
		--inset: 4px;

		content: '';
		position: absolute;
		inset: calc(-1 * var(--inset));
		border: 2px solid var(--glow);
		border-radius: calc(var(--item-small-radius) + var(--inset));

		scale: 0.95;
		opacity: 0;

		transition-property: scale, opacity;
		transition-duration: 0.3s;
		transition-timing-function: var(--trans-function-ani);
	}
}

.swatch {
	background-color: var(--col, oklch(var(--b6)));
	border-radius: var(--item-med-radius);
}

.palette.albums {
	grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
}

.album-cover {
	--col: transparent;
	--show-icon: none;

	aspect-ratio: 1 / 1;
	position: relative;
	overflow: hidden;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;

	&:after {
		content: "";
		position: absolute;
		inset: 0;
		background-image: var(--gloss-image) !important;
		background-size: 100% !important;
		opacity: var(--gloss, 0);
		pointer-events: none;
		padding: unset !important;
		box-shadow: unset !important;
	}
}
