.palette {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
	gap: var(--gap, var(--button-list-gap));
}

.swatch-group {
	display: flex;
	justify-content: center;
	gap: var(--gap);

	--gap: 8px;

	.palette {
		display: flex;
		flex-direction: column;

		@media (max-width: 980px) {
			flex-direction: row;
		}
	}
}

.swatch-info {
	flex-wrap: wrap;
	gap: var(--item-list-gap) !important;

	&.has-hover {
		& > .swatch-group > .swatch-container:not(:hover) {
			& > .swatch-inner {
				opacity: 0 !important;
				translate: 0 2px !important;
			}
		}
	}
}

.swatch-sep {
	width: 2px !important;
	height: 12px !important;
	margin-bottom: calc(66px - 24px);
	border-radius: 10px;
}

.theme-bubble-sep {
	width: 2px !important;
	height: 14px !important;
	margin-top: calc((50px - 14px) / 2);
	border-radius: 10px;
}

.swatch-container {
	--bg: transparent;
	--bg-hov: transparent;
	--bg-atv: transparent;
	--shadow: none;
	--padding: 0 4px;
	margin: unset !important;
	--radius: 0;

	transform: none !important;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 6px;

	min-height: 66px;

	&[aria-checked="true"] {
		& > .swatch-inner {
			translate: 0 0 !important;
			opacity: 1 !important;
		}

		& > .swatch {
			background: oklch(var(--h3));
			--icon-opacity: 1 !important;
			--icon-transform: scale(1) !important;

			&:after {
				scale: 1 !important;
				opacity: 1 !important;
			}
		}
	}

	&:hover {
		& > .swatch-inner {
			color: oklch(var(--c3));
			translate: 0 0 !important;
			opacity: 1 !important;
		}
	}

	&:not([aria-checked="true"], :hover) {
		& > .swatch-inner {
			pointer-events: none;
		}
	}
}

.swatch-inner {
	margin: 0 -150px;

	translate: 0 2px;
	opacity: 0;

	transition-property: translate, opacity;
	transition-duration: 0.3s;
	transition-timing-function: var(--trans-function-ani);
}

.swatch-name {
	color: oklch(var(--l3-c)) !important;
	font-size: 13px;
	font-weight: var(--font-weight-medium);
}

.swatch-desc {
	color: oklch(var(--c3));
	font-size: 13px;
	margin-top: -2px;
}

.swatch.colourful {
	background: oklch(var(--h3));
	box-shadow:
		inset 0 0 0 1px oklch(var(--l2-c) / 10%),
		inset 0 0 transparent,
		0 2px 0 0 oklch(var(--h4) / 40%),
		0 3px 12px oklch(var(--h4) / 12%),
		var(--interact-shadow);
	color: oklch(var(--b7));
	--icon-colour: currentColor;
	--font-size: 0;

	position: relative;
	--icon-size: 16px;
	--icon: var(--icon-16-check-thick);
	border-radius: var(--item-small-radius);

	width: 22px;
	height: 24px;

	&[data-swatch-type="placeholder"],
	&[data-swatch-type="colour"] {
		--icon-size: 12px;
		--icon-opacity: 0;
		--icon-transform: scale(0);
	}

	&[data-swatch-type="default"] {
		--icon: var(--icon-16-themes);
	}

	&[data-swatch-type="season"] {
		--icon: var(--icon-16-season);
	}

	&[data-swatch-type="adaptive"] {
		--icon: var(--icon-16-adaptive);
	}

	&[data-swatch-type="avatar"] {
		--icon: var(--icon-16-user);
	}

	&[data-swatch-type="customise"] {
		--icon: var(--icon-16-edit-mini);

		&:not([aria-checked="true"] > &) {
			background: oklch(var(--b3));
			color: oklch(var(--c2));
			box-shadow: var(--normal-shadow);
		}
	}

	&:not([data-swatch-type="customise"]) {
		color: oklch(0 0 0);
	}

	translate: 0 0;

	transition-property: background,
		box-shadow,
		translate;
	transition-duration: var(--trans);
	transition-timing-function: var(--trans-function);

	&:after {
		--inset: 4px;

		content: '';
		position: absolute;
		inset: calc(-1 * var(--inset));
		border: 2px solid var(--glow);
		border-radius: calc(var(--item-small-radius) + var(--inset));

		scale: 0.9;
		opacity: 0;

		transition-property: scale, opacity;
		transition-duration: 0.3s;
		transition-timing-function: var(--trans-function-ani);
	}
}

.swatch-container:active {
	& > .swatch {
		translate: 0 1px;
		background: color-mix(in oklch, oklch(var(--h3)), oklch(var(--h4)) 20%);
		box-shadow:
			inset 0 0 0 1px oklch(var(--l2-c) / 10%),
			inset 0 2px 0 0 oklch(var(--h4)),
			0 3px 12px oklch(var(--h4) / 12%),
			var(--interact-shadow);

		& > .bleh-icon-swatch {
			top: 1px;
		}
	}
}

.bleh-icon-swatch {
	opacity: var(--icon-opacity, unset);
	transform: var(--icon-transform, unset);
	transform-origin: bottom left;

	position: relative;
	top: 0;

	transition-property: transform, opacity, top;
	transition-duration: 0.3s;
	transition-timing-function: var(--trans-function);
}
