.jumpto-form {
	display: flex;
	justify-content: center;
	padding-top: var(--card-gap);

	.form-group {
		margin: unset !important;

		label {
			width: fit-content !important;
			font-weight: var(--font-weight-medium) !important;
		}

		.form-group-controls {
			width: fit-content !important;
			margin-right: var(--button-list-gap);

			input {
				margin: unset;
			}
		}
	}
}
