.personal-stats {
	display: none !important;
}

.listen-container {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap) * 2);
	position: relative;
	flex-shrink: 0;

	background: transparent;
	border-radius: var(--item-med-radius);
	padding: var(--gap) 10px;
	overflow: hidden;
	box-shadow: 0 0 0 1px inset var(--separator-base);

	order: -10;

	--gap: 8px;

	&:not(:last-child) {
		padding-bottom: calc(var(--card-gap) + 1px);
		margin-bottom: var(--card-gap);

		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			display: block;
			background: var(--separator);
		}
	}

	.listen-divider {
		flex: 1;
	}

	@media (max-width: 980px) {
		flex-wrap: wrap;
	}

	.listen-item-other {
		--bg: transparent;
		--bg-hov: oklch(var(--b4) / 40%);
		--bg-atv: oklch(var(--b4) / 60%);
		--shadow: none;
		--col: oklch(var(--c3));
		--mask-colour: currentColor;
	}
}

.listen-item {
	display: flex;
	align-items: center;
	min-width: 32px !important;
	position: relative;

	--bg: transparent;
	--bg-hov: oklch(var(--b4) / 60%);
	--bg-atv: oklch(var(--b4) / 80%);
	--shadow: none;

	&:not(.taste) {
		--padding: var(--gap) 20px;
		--radius: 0;
		margin: calc(-1 * var(--gap)) -20px !important;

		height: 38px;

		&:not([data-listens="-3"]) {
			@media (max-width: 700px) {
				height: unset;
				min-height: 38px;
			}
		}
	}

	&>.listen-badge {
		position: absolute;
		top: calc(36px + 2px - var(--icon-size));
		left: calc(32px + 2px - var(--icon-size));

		--icon-size: 12px;

		display: none;

		&.star {
			--icon-colour: linear-gradient(0deg,
					oklch(var(--l3-c)),
					oklch(var(--l2-c)));
			--icon: var(--icon-16-star-fill);
			--hue-over: var(--hue-fav);
			--sat-over: var(--sat-fav);
			--lit-over: var(--lit-fav);
		}

		filter: drop-shadow(2px 0px 0 oklch(var(--b5))) drop-shadow(0px 2px 0 oklch(var(--b5))) drop-shadow(-2px -0px 0 oklch(var(--b5))) drop-shadow(-0px -2px 0 oklch(var(--b5)));
	}

	.listen-item-info {
		display: flex;
		gap: 0 10px;
		flex: 1;
		overflow: hidden;
		padding: var(--gap);
		margin: calc(-1 * var(--gap));

		@media (max-width: 700px) {
			flex-direction: column;
		}

		&>.listen-item-name {
			font-size: var(--font-size);
			line-height: var(--line-height);
			color: oklch(var(--c2));
			font-weight: var(--font-weight);

			flex: 1;

			display: -webkit-inline-box;
			overflow: hidden;
			text-overflow: ellipsis;
			line-clamp: 1;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
		}

		&>.listen-item-text {
			font-size: var(--font-size);
			line-height: var(--line-height);
			font-weight: var(--font-weight-medium);

			position: relative;
			transition-property: left;
			transition-duration: var(--trans);
			transition-timing-function: var(--trans-function);

			text-decoration: var(--hover-underline, none);

			&:before {
				animation: spinner 1.2s linear infinite;
				--left: 0;
				--mask: var(--icon-16-spinner);
				--mask-size: 12px;
				--margin-top: -6px;
				--show-icon: none;
				background-color: oklch(var(--c3)) !important;
			}
		}
	}

	&[data-listens="-1"] {
		&>.listen-item-info>.listen-item-text {
			padding-left: calc(12px + 4px);

			&:before {
				--show-icon: block;
				opacity: 1;
			}
		}
	}

	&[data-listens="-4"] {
		&>.listen-item-info>.listen-item-text {
			padding-left: calc(12px + 4px);

			&:before {
				--mask: var(--icon-16-lock);
				--show-icon: block;
				opacity: 1;
				animation: none;
			}
		}
	}

	&[data-listens="-3"] {
		order: 10;
		text-align: left;
	}

	&[data-bleh--scrobble-milestone]>.listen-item-info>.listen-item-text {
		color: oklch(var(--l3-c)) !important;
		text-shadow: 0 0 13px oklch(var(--h4) / 80%);
	}

	&:before {
		animation: spinner 1.2s linear infinite;
		--show-icon: none;
		background-color: oklch(var(--c3)) !important;
	}

	&>.span>.view-item-avatar,
	&>.view-item-avatar {
		--w: 22px;

		width: var(--w);
		height: var(--w);
		margin-right: 8px;
		border-radius: var(--avatar-radius);

		--mask-size: 18px;

		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&+.view-item-avatar {
			margin-left: -22px;
		}
	}
}

.bleh-icon-listen-item {
	width: 22px;
	margin-right: 8px;
}

.listen-board-wrap {
	width: 100%;
	max-width: 400px;
	position: relative;
}

.listen-board {
	position: relative;
	background: oklch(var(--b6) / 20%);
	box-shadow: var(--group-shadow);
	border-radius: var(--radius-m);
	overflow: hidden;

	display: flex;
	flex-direction: column;
	gap: 1px;

	&[data-typing="true"] {
		opacity: 0.2;
		pointer-events: none;
	}

	transition-property: opacity;
	transition-duration: var(--trans);
	transition-timing-function: var(--trans-function);

	&:after {
		content: '';
		position: absolute;
		transform: unset !important;
		bottom: unset !important;
		top: 0;
		left: 0;
		width: 160px;
		height: 80px;

		opacity: 1;
		transition: none;
		background: unset;
		border: 1px solid oklch(var(--c3) / 30%);
		border-radius: var(--radius-m);
		border-bottom: unset;
		border-top-right-radius: unset;
		border-bottom-right-radius: unset;
		border-bottom-left-radius: unset;
		border-right: unset;

		pointer-events: none;

		--mask: linear-gradient(145deg, white, transparent 30%);
		mask-image: var(--mask);
		-webkit-mask-image: var(--mask);
	}
}

.listen-board-input-wrap {
	position: absolute;
	inset: 0 0 calc(18px + 10px);
	border-radius: var(--radius-m);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	z-index: 10;

	&[data-typing="false"] {
		opacity: 0;
		pointer-events: none;
	}

	transition-property: opacity;
	transition-duration: var(--trans);
	transition-timing-function: var(--trans-function);
}

.listen-board-input-hint {
	display: flex;
	align-items: center;
	gap: 6px;
	color: oklch(var(--c3));
	cursor: default;
}

.listen-board-input {
	--focus-outline: none !important;
	appearance: none;
	border: unset;
	background: oklch(var(--b2) / 50%);
	padding: 10px;
	border-radius: var(--radius-m);

	font-size: 16px;
	line-height: 20px;

	width: 70%;
	text-align: center;
}

.listen-board-row {
	display: flex;
	flex-wrap: wrap;
	gap: 0 10px;
	margin-top: 10px;
	padding: 0 10px;
}

.left-align-row {
	flex: 1;
}

.right-align-row {
	flex-shrink: 0;
}

.listen-board-item {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	overflow: hidden;

	background: oklch(var(--k4) / 15%);
	padding: 8px 10px;

	--mask-colour: oklch(var(--c2));

	&:hover {
		&>.bleh-icon-arrow-right {
			translate: 2px 0;
			opacity: 1;
		}

		&:before {
			translate: 110px 0;
		}

		&>.listen-board-item-bg {
			translate: 54px 0;
			scale: 1.03;
		}

		&>.listen-board-item-info>.listen-board-item-name {
			color: oklch(var(--l3-c));

			&:after {
				transform: scaleX(1);
			}
		}
	}

	&>.bleh-icon-arrow-right {
		--icon-size: 16px;
		opacity: 0;
	}

	&:before {
		content: '';
		position: absolute;
		inset: 0;
		display: block;
		background: linear-gradient(90deg, transparent 50%, oklch(var(--k4)) 90%);

		translate: 150px 0;
		opacity: 0.8;

		transition-property: translate;
		transition-duration: 0.2s;
		transition-timing-function: var(--trans-function-ani);

		pointer-events: none;
	}

	&:after {
		display: none;
	}

	transition-property: scale;
	transition-duration: 0.2s;
	transition-timing-function: var(--trans-function-ani);
}

.listen-board-item-bg {
	position: absolute;
	inset: 0;

	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	opacity: 0.08;

	translate: 40px 0;
	scale: 1;

	pointer-events: none;

	--mask: linear-gradient(90deg, transparent, white);
	mask-image: var(--mask);
	-webkit-mask-image: var(--mask);

	transition-property: translate, scale;
	transition-duration: 0.2s;
	transition-timing-function: var(--trans-function-ani);
}

.listen-board-item-info {
	display: flex;
	flex-direction: column;
	z-index: 1;
	flex: 1;
}

.listen-board-item-image {
	--w: 32px;
	width: var(--w);
	height: var(--w);
}

.listen-board-item-name {
	color: oklch(var(--c2));
	--mask-colour: oklch(var(--l3-c) / 60%);
	position: relative;

	width: fit-content;

	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: var(--trans-function-ani);

	&:after {
		content: '';
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: var(--mask-colour);
		transform: var(--underline-scale, scaleX(0));
		transform-origin: bottom left;
		opacity: 0.6;

		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: var(--trans-function-ani);
	}
}

.listen-board-item-plays {
	display: flex;
	align-items: center;
	gap: 1px;
	height: 18px;

	--icon-size: 12px;
	color: oklch(var(--l2-c-theme-switch));
	--mask-colour: color-mix(in oklch,
			oklch(var(--l3-c)),
			oklch(var(--l4-c)) 30%);

	&>.bleh-icon-spinner {
		--icon-size: 12px;
	}

	&.waiting-for-hover {
		animation: waiting 2s var(--trans-function-ani) infinite;
	}
}

@keyframes waiting {

	from,
	to {
		opacity: 0.8;
	}

	60% {
		opacity: 0.4;
	}
}
