@import './grid.css';
@import './track.css';

@import './lotus.css';
@import './smart_music.css';

@import './oracle/oracle.css';
@import './listens.css';

@import './video.css';

@import './header.css';

.section-with-control > .buffer-standard,
.grid-items-section > .buffer-standard,
.grid-items,
.chartlist {
    margin-top: 0 !important;

    margin-left: unset !important;
    margin-right: unset !important;
}
