.smart-title {
	display: flex !important;
	flex-wrap: wrap;
	gap: 2px 6px;
}
.smart-artist {
	display: flow-root;
	cursor: default;

	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-shrink: 1;

	& > a {
		cursor: pointer;
		overflow: hidden;
	}

	& > a + a {
		margin-left: 4px;
	}
}

.title {
	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-shrink: 1;
}

.feat {
	width: fit-content;
	height: fit-content;
	margin: auto 0;
	color: oklch(var(--c2) / 80%);

	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-shrink: 1;

	&:is([data-tag-group="mixes"], [data-tag-group="mixes_numbers"], [data-tag-group="stems"], [data-tag-group="bonus"]) {
		color: oklch(var(--c3));
	}

	&[data-tag-group="mixes_numbers"] {
		order: 10;
	}
}
