.smart-title {
	display: inline;
}

.smart-artist {
	display: flow-root;
	cursor: default;

	min-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	flex-shrink: 1;

	&>a {
		cursor: pointer;
		overflow: hidden;
	}

	&>a+a {
		margin-left: 4px;
	}
}

.title {
	display: inline;
}

.feat {
	display: inline-block;
	width: fit-content;
	height: fit-content;
	margin-left: 6px;
	color: oklch(var(--c2) / 80%);

	&:is([data-tag-group="mixes"], [data-tag-group="mixes_numbers"], [data-tag-group="stems"], [data-tag-group="bonus"]) {
		color: oklch(var(--c3));
	}

	&[data-tag-group="mixes_numbers"] {
		order: 10;
	}
}
