.smart-title {
    display: flex;
    flex-wrap: wrap;
    gap: 2px 6px;
}

.user-about > a,
.smart-title,
.source-album-name,
.activity-item .name > a,
.grid-items-item-main-text,
.featured-item-name,
.chartlist-name > a {
    & > .title {
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;
    }

    & > .feat {
        width: fit-content;
        height: fit-content;
        margin: auto 0;
        color: oklch(var(--c2), 80%);

        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        flex-shrink: 1;

        &:is(
            [data-bleh--tag-group="mixes"],
            [data-bleh--tag-group="mixes_numbers"],
            [data-bleh--tag-group="stems"],
            [data-bleh--tag-group="bonus"]
        ) {
            color: oklch(var(--c3));
        }

        &[data-bleh--tag-group="mixes_numbers"] {
            order: 10;
        }
    }
}
.feat {
    &[data-bleh--tag-group="mixes_numbers"] {
        text-transform: uppercase;
    }
    &[data-bleh--tag-type="(session"] {
        text-transform: capitalize;
    }
}
