.metadata-list {
    display: flex;
    gap: var(--button-list-gap);
    margin: unset;
}

.metadata-item {
    padding: 7px var(--button-sides) !important; /* tasteometer overrides with padding-left: 20px */
    background-color: hsla(
        var(--b4),
        50%
    ); /* would be b5, but we have a background */
    border-radius: var(--item-med-radius);
    display: flex;
    gap: 10px;
    height: 32px;
    margin: unset !important;
    box-shadow: var(--interact-shadow);
    position: relative;
    --show-icon: none;
}
.metadata-title {
    color: hsl(var(--c3)) !important;
    font-size: var(--font-size);
    line-height: var(--line-height);
    text-transform: unset;
    font-weight: unset !important;
    z-index: 5;
    /* undo sr-only */
    clip: unset;
    border: unset;
    width: max-content !important;
    height: unset;
    margin: unset;
    overflow: unset;
    padding: unset;
    position: unset;
}
.metadata-display {
    color: hsl(var(--c2));
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: var(--font-weight-medium);
    z-index: 5;
    margin: unset !important;
}

.catalogue-metadata-heading,
.playlisting-playlist-stat,
.metadata-and-wiki-row .catalogue-metadata .catalogue-metadata-heading,
.factbox-heading {
    font-weight: var(--font-weight);
    color: hsl(var(--c3));
    cursor: default;
}

.facts {
    .factbox {
        width: unset;
        margin: unset;
        float: unset;

        display: flex;
        flex-direction: column;
        gap: var(--item-list-gap);

        .factbox-item {
            margin: unset;
        }
    }
}

.factbox-heading + :is(p, a),
.factbox-item > ul,
.catalogue-metadata-description {
    font-size: 16px;
    line-height: 20px;
    font-weight: var(--font-weight-medium);
    cursor: default;

    .cta-link {
        margin: unset;
        text-align: left !important;
    }

    &#factbox-more-members {
        margin-top: unset;
    }

    &.address {
        & > strong {
            margin-bottom: 4px;
        }

        & > p {
            font-size: var(--font-size);
            line-height: var(--line-height);
            font-weight: var(--font-weight);
            color: hsl(var(--c2), 80%);
        }
    }

    & > p {
        margin: unset;
    }
}

.metadata-and-wiki-row {
    gap: var(--card-padding);
    margin: unset;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: var(--card-padding);
        background: linear-gradient(90deg, hsl(var(--b5)), transparent);
        left: var(--overview-bio-size);
        top: 0;
        bottom: 0;
        z-index: 10;
    }

    &:after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: var(--card-padding);
        background: linear-gradient(270deg, hsl(var(--b5)), transparent);
        right: calc(-1 * var(--card-padding));
        top: 0;
        bottom: 0;
    }

    &.full-w {
        &:before, &:after {
            display: none;
        }

        .metadata-column {
            width: unset;
        }
    }

    .metadata-column,
    .wiki-column {
        padding: unset;
        width: unset;
    }

    .wiki-column {
        position: relative;

        .wiki-block:not(.visible-lg) {
            display: none !important;
        }

        .visible-lg {
            display: block !important;
            margin: unset !important;
            padding: unset !important;

            &:before,
            &:after {
                display: none !important;
            }

            .wiki-block-inner > div {
                padding-right: unset;

                &:before {
                    display: none;
                }
            }
        }

        .sub-text {
            flex-direction: row;
            gap: unset;
            justify-content: space-between;
        }
    }

    .metadata-column {
        max-width: unset;
        flex: 1;
        order: 1;

        padding: 0 var(--card-padding);
        margin: 0 calc(-1 * var(--card-padding));

        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-auto-flow: column;
        width: max-content;
        gap: var(--card-gap);
        overflow-x: hidden;

        &.no-scroll-simulation:hover {
            overflow-x: scroll;
        }

        .metadata-group {
            min-width: 170px;
        }

        & > .primary {
            grid-column: span 2;
        }

        @media (max-width: 980px) {
            display: flex;
            flex-direction: column;
        }
    }
    .wiki-column {
        width: 100%;
        max-width: var(--overview-bio-size);

        .wiki-block {
            font-size: 16px;
            line-height: 22px;
        }
    }

    .catalogue-metadata {
        padding: unset !important;
    }

    & + .row {
        display: none;
    }

    @media (max-width: 800px) {
        flex-wrap: wrap;
    }
}
.wiki-section {
    .wiki-block {
        font-size: 16px;
        line-height: 22px;
    }
}
.wiki-content {
    font-size: 16px;
    line-height: 22px;
}
