.update-center-icon {
	position: relative;
	width: fit-content;

	&>.update-container {
		&.spin {
			animation: staggered_spinner 3s cubic-bezier(0.34, 1.56, 0.64, 1) infinite;
		}

		&>.bleh-icon {
			background: oklch(var(--l3-c));
			--icon-size: 40px;
			--icon: var(--mask);
		}
	}

	.check-circle {
		background: oklch(var(--h3) / var(--solarium-opacity, 40%));
		box-shadow: 0px 0px 9px 0px oklch(var(--l2-c) / 60%) inset;
		color: oklch(var(--b7));
		outline: 4px solid oklch(var(--b5));
		border-radius: 50px;
		position: absolute;
		bottom: 0;
		right: 0;

		backdrop-filter: var(--solarium);
		-webkit-backdrop-filter: var(--solarium);

		padding: 3px;

		&>.bleh-icon {
			--icon-size: 10px;
			--icon: var(--mask);
		}

		--hue-over: var(--hue-pos);
		--sat-over: 1;
		--lit-over: 1;

		&.paused {
			--hue-over: 25;
		}
	}
}

.update-minor-details {
	color: oklch(var(--c3));
	cursor: default;

	display: flex;
	gap: var(--icon-gap);
}

.languages {
	display: flex;
	flex-direction: column;
	margin: calc(-1 * var(--setting-group-padding)) 0;
}

.language-row {
	display: flex;
	align-items: center;
	gap: var(--item-list-gap);
	padding: 6px calc(var(--setting-group-padding) + 2px);
	cursor: default;
	position: relative;

	margin: 0 calc(-1 * var(--setting-group-padding));

	/*@media (max-width: 500px) {
	    flex-wrap: wrap;

	    .language-row-sub {
	        flex-basis: 100%;
	    }
	    }*/
}

.language-row-progress {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, transparent, oklch(var(--k4) / 20%));
	z-index: 0;
	pointer-events: none;
}

.language-row-flag {
	height: 14px !important;
	z-index: 3;
}

.language-row-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	z-index: 3;
}

.language-row-by {
	color: oklch(var(--c2) / 80%);
}

.language-row-sub {
	display: flex;
	flex-direction: column;
	align-items: end;
	text-align: right;
	flex-shrink: 0;
	z-index: 3;
}

.language-row-percent {
	color: oklch(var(--l3-c));
	font-weight: var(--font-weight-medium);
}

.language-row-time {
	color: oklch(var(--c3));
	font-size: 13px;
	cursor: default;
	width: 130px;
	display: flex;
	justify-content: end;
	margin: unset;
	width: fit-content;
}
