[data-bleh--shout_markdown="false"] .if-markdown-on,
[data-bleh--shout_markdown="true"] .if-markdown-off {
	display: none;
}

.bars {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}
