@import './general.css';
@import './visual.css';
@import './interface.css';
@import './playback.css';
@import './seasonal.css';
@import './translate.css';

@import './profile.css';
@import './auto_edit.css';
@import './pro.css';
@import './privacy.css';
@import './api.css';

@import './test.css';

.inner-preview {
	background-color: var(--inset-background);
	box-shadow: inset 0 0 0 1px var(--separator-base), var(--inset-shadow);
	border-radius: var(--item-small-radius);
	padding: var(--card-gap);
	overflow: hidden;

	&.gap-top {
		margin-top: var(--card-gap);
	}

	user-select: none;

	&.pad {
		padding: var(--card-gap) calc(var(--card-gap) * 6);

		@media (max-width: 980px) {
			padding: var(--card-gap) !important;
		}
	}
	&.flex {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& > .sep {
		margin: var(--card-gap) 0 !important;
	}

	& > .shout-preview {
		position: relative;

		& > .shout-user-preview {
			font-size: var(--font-size);
			line-height: var(--line-height);
		}
		& > .shout-timestamp-preview {
			line-height: inherit;
			position: absolute;
			height: fit-content;
		}
	}
}
