#current-subscription {
    color: oklch(var(--c2));
    box-shadow: var(--card-shadow) !important;

    &:has(> .subscription-button-row) {
        --hue-over: var(--hue-pro);
        --sat-over: 1;
        --lit-over: 1;

        background: oklch(var(--f4), 20%) !important;
        border: unset !important;
        padding: var(--card-padding) !important;
        box-shadow: unset !important;
        margin-top: var(--card-gap) !important;
        margin: 0 var(--card-padding) !important;

        .subscription-button {
            top: var(--card-padding);
            right: var(--card-padding);
        }
    }

    h2 {
        font-size: var(--font-size) !important;
        line-height: var(--line-height) !important;
        font-weight: var(--font-weight-medium) !important;
        color: oklch(var(--c3)) !important;
        margin-bottom: 2px !important;
    }

    h2 + p b,
    h3 {
        margin-top: unset;
        margin-bottom: var(--card-gap);
        position: relative;
        padding-left: calc(var(--icon-size) + var(--icon-gap));
        font-size: 16px;
        line-height: 20px;
        font-weight: var(--font-weight-bold);
        cursor: default;
        --left: 0;
    }

    h2 + p b {
        --mask: var(--icon-16-x);
    }

    h3 {
        color: oklch(var(--l3-c));
        --mask: var(--icon-16-pro);
    }

    h2 + p + p {
        margin-top: var(--card-gap);
    }

    .subscription-button-row,
    p:last-child {
        margin: unset;
    }
    .subscription-button {
        --hue-over: var(--hue-pro);
        --sat-over: 1;
        --lit-over: 1;

        position: absolute;
        top: var(--card-padding);
        right: var(--card-padding);
        margin: unset;

        --mask: var(--icon-16-pro);
    }
}

#automatic-edits {
    ul {
        display: flex;
        gap: var(--button-list-gap);

        .edit-album {
            --mask: var(--icon-16-album);
        }
        .edit-track {
            --mask: var(--icon-16-track);
        }
    }
}
.automatic-edit-table-options-container {
    display: flex;
    gap: var(--button-list-gap);

    & > .automatic-edit-rule-table-options {
        margin: unset !important;
    }
}
