.seasonal-timeline-wrap {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px 0;
}

.seasonal-timeline-bar {
	display: flex;
	justify-content: center;
	height: 4px;
	background: linear-gradient(90deg, transparent, oklch(var(--b2) / 60%), transparent);
	border-radius: 10px;
}

.seasonal-timeline-current {
	height: 4px;
	width: 130px;
	background: oklch(var(--l3-c));
	border-radius: 10px;
	box-shadow: 0 0 0 4px oklch(var(--b5));

	&:not([data-season="none"]) {
		--hue-over: var(--hue-seasonal);
		--sat-over: var(--sat-seasonal);
		--lit-over: var(--lit-seasonal);
	}
}

.seasonal-timeline {
	display: flex;
	justify-content: center;
	gap: 50px;
	cursor: default;

	padding: 0 100px;
}

.seasonal-timeline-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	width: 130px;
	flex: 1;

	&:not([data-season-type="current"]) {
		opacity: 0.7;
	}

	position: relative;
}

.seasonal-timeline-bg {
	position: absolute;
	inset: -60px -240px;
	background-color: oklch(var(--k4));
	pointer-events: none;

	display: none;

	&:not([data-season-type="current"]),
	&[data-season="none"] {
		display: none;
	}

	--hue-over: var(--hue-seasonal);
	--sat-over: var(--sat-seasonal);
	--lit-over: var(--lit-seasonal);

	&[data-season="pride"] {
		background-image: linear-gradient(180deg, var(--graph-colour-0) 10%,
				var(--graph-colour-1) 23%, var(--graph-colour-2) 38%,
				var(--graph-colour-5) 55%, var(--graph-colour-7) 67%,
				var(--graph-colour-9) 100%);
	}

	&[data-season="fall"] {
		background-image: linear-gradient(180deg, oklch(var(--k4)) 30%,
				oklch(var(--white)));
	}

	z-index: 0;

	--mask: radial-gradient(at top center, #FFFFFF, transparent 65%);
	mask-image: var(--mask);
	-webkit-mask-image: var(--mask);

	opacity: 0.25;
}

.seasonal-icon {
	--icon-size: 30px;
	margin-bottom: 10px;

	--mask-colour: linear-gradient(180deg, oklch(var(--c1)), oklch(var(--c3)));

	z-index: 3;

	&:not([data-season="none"]) {
		--mask-colour: linear-gradient(180deg, oklch(var(--l2-c)), oklch(var(--l4-c)));

		--hue-over: var(--hue-seasonal);
		--sat-over: var(--sat-seasonal);
		--lit-over: var(--lit-seasonal);
	}
}

.seasonal-name {
	font-size: 16px;
	line-height: 20px;
	font-weight: var(--font-weight-medium);

	z-index: 3;

	&:not([data-season="none"]) {
		color: oklch(var(--l3-c));

		--hue-over: var(--hue-seasonal);
		--sat-over: var(--sat-seasonal);
		--lit-over: var(--lit-seasonal);
	}

	&[data-season="pride"] {
		background-image: linear-gradient(90deg, var(--graph-colour-0) 10%,
				var(--graph-colour-1) 23%, var(--graph-colour-2) 38%,
				var(--graph-colour-5) 55%, var(--graph-colour-7) 67%,
				var(--graph-colour-9) 100%);
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}

.seasonal-desc {
	font-size: 13px;
	color: oklch(var(--c3));
	z-index: 3;
}

.seasonal-icon>.bleh-icon,
.bleh-seasonal-icon {
	--icon: var(--mask, var(--icon-16-season));

	&[data-season="easter"] {
		--mask: var(--icon-16-egg);
	}

	&[data-season="pride"] {
		--mask: var(--icon-16-pride);
	}

	&[data-season="summer"] {
		--mask: var(--icon-16-summer);
	}

	&[data-season="halloween"] {
		--mask: var(--icon-16-pumpkin);
	}

	&[data-season="pre_fall"] {
		--mask: var(--icon-16-fall);
	}

	&[data-season="fall"] {
		--mask: var(--icon-16-snow);
	}

	&[data-season="christmas"] {
		--mask: var(--icon-16-christmas);
	}

	&[data-season="new_years"] {
		--mask: var(--icon-16-new-years);
	}
}

.bleh-icon[data-season="pride"] {
	background-color: unset !important;
	background-image: var(--pride) !important;
	background-size: 100% !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
}
