.seasonal-timeline {
    display: flex;
    justify-content: center;
    gap: 50px;
    cursor: default;

    padding: 0 100px;

    @media (max-width: 1200px) {
        padding: 0 30px;
    }

    margin: 30px 0;
}

.seasonal-timeline-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 130px;
    flex: 1;

    &:not([data-season-type="current"]) {
        opacity: 0.6;
    }
}

.seasonal-icon {
    --icon-size: 28px;
    margin-bottom: 10px;

    background-color: hsl(var(--b2), 20%);
    padding: 12px;
    border-radius: 50%;

    &:not([data-season="none"]) {
        background-color: hsl(var(--f4), 20%);
        --mask-colour: hsl(var(--l3-c));
    }
}

.seasonal-name {
    font-size: 16px;
    line-height: 20px;

    &:not([data-season="none"]) {
        color: hsl(var(--l3-c));
    }
}
