.theme-bubbles {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;

	.theme-bubble {
		--bg: transparent;
		--bg-hov: transparent;
		--bg-atv: transparent;
		--shadow: none;
		--padding: 0;
		--radius: 0;
		position: relative;

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 6px;

		max-width: 60px;
		text-align: center;

		--icon-size: 12px;

		.bubble {
			width: 60px;
			height: 48px;
			border-radius: var(--radius-s);
			position: relative;

			box-shadow: 0 0 0 1px var(--separator-base), var(--interact-shadow);

			.inner {
				background: oklch(var(--b6));
				color: oklch(var(--c2));
				--mask-colour: currentColor;
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				border-radius: var(--radius-s);

				height: 100%;
			}

			&:after {
				--inset: 4px;

				content: '';
				position: absolute;
				inset: calc(-1 * var(--inset));
				border: 2px solid var(--glow);
				border-radius: calc(var(--radius-s) + var(--inset));

				scale: 0.95;
				opacity: 0;

				transition-property: scale, opacity;
				transition-duration: 0.3s;
				transition-timing-function: var(--trans-function-ani);
			}
		}

		& > strong {
			font-size: 13px;
			font-weight: var(--font-weight);
			overflow: hidden;
			max-width: 100%;
		}

		&[aria-selected="true"] {
			& > .bubble {
				box-shadow: 0 0 0 1px transparent;
			}

			& > .bubble:after {
				scale: 1 !important;
				opacity: 1 !important;
			}

			& > strong {
				color: oklch(var(--l3-c));
				--icon-colour: oklch(var(--l3-c) / 80%);
				font-weight: var(--font-weight-medium);
			}
		}

		&:not([aria-selected="true"]) {
			& > strong {
				color: oklch(var(--c3));
				--icon-colour: oklch(var(--c3) / 80%);
			}
		}
	}
}

.theme-preview {
	display: flex;
	width: 100%;
	flex: 1;
	background-color: oklch(var(--b6));
	position: relative;
	overflow: hidden;
	pointer-events: none;

	.preview-inner {
		display: block;
		width: 100%;
		padding: 8px 0 0 8px;
		text-align: left;

		.preview-image {
			position: absolute;
			inset: 0;
			bottom: 10px;

			z-index: 2;

			opacity: 0.7;
			background-size: cover;
			border-radius: var(--radius-s);

			--mask: linear-gradient(180deg,
					white 20%,
					transparent);
			mask-image: var(--mask);
			-webkit-mask-image: var(--mask);

			&:after {
				content: '';
				position: absolute;
				inset: 0;
				display: block;
				background: linear-gradient(180deg, transparent 0%,
					oklch(var(--b6)) 100%);
			}
		}

		.preview-card {
			display: flex;

			box-shadow: var(--card-shadow);
			border-top-left-radius: 5px;

			border-top: 1px solid var(--card-border-base);
			border-left: 1px solid var(--card-border-base);

			background-image: var(--cards-overlay-image-subtle);
			background-repeat: repeat-x;
			background-position: 0 0;

			position: relative;
			z-index: 3;

			overflow: hidden;

			.preview-card-main {
				display: flex;
				flex-direction: column;
				gap: 2px;
				padding: 6px 8px 10px 8px;
				background-color: oklch(var(--b5));
				flex: 1;
			}

			.preview-card-side {
				width: 20px;
				background: var(--card-blur-bg);
				backdrop-filter: var(--solarium);
				-webkit-backdrop-filter: var(--solarium);

				border-left: 1px solid var(--sidebar-border);
				border-bottom-right-radius: var(--radius-s);

				[data-bleh--solarium="false"] & {
					background: var(--sidebar-bg);
				}
			}

			.preview-header {
				display: block;
				color: oklch(var(--c1));
				font-size: 12px;
				line-height: 12px;
				font-weight: var(--font-weight-bold);

				margin-bottom: 2px;
			}

			.preview-text {
				display: block;
				width: 20px;
				height: 1px;
				background-color: oklch(var(--c2));
				border-radius: 50px;

				&.row-2 {
					width: 17px;
				}

				&.row-3 {
					width: 14px;
				}

				opacity: 0.8;
			}

			.preview-buttons {
				display: none;
			}
		}
	}
}

.theme-name {
	display: flex;
	align-items: center;
	gap: 4px;

	& > .bleh-icon-theme {
		--mask-colour: currentColor;
		height: var(--icon-size);
		--icon-size: 14px;
	}
}

.theme-bubble-new {
	position: absolute;
	top: -4px;
	right: -5px;
	z-index: 10;
	font-size: 12px;
	line-height: 14px;
	font-weight: var(--font-weight-bold);
	color: oklch(var(--b7));
	background: oklch(var(--h3));
	box-shadow: 0 0 0 2px oklch(var(--b5)), 0 5px 12px oklch(var(--h4) / 32%);
	padding: 0 3px;
	border-radius: 3px;

	transform: rotate(4deg);

	animation: theme-bubble-new 2.6s var(--trans-function-ani) infinite;
}

@keyframes theme-bubble-new {
	from,
	to {
		background: oklch(var(--h3));
		scale: 1;
		transform: rotate(-3deg);
	}

	40% {
		background: color-mix(in oklch, oklch(var(--l2-c)) 30%,
			oklch(var(--h3)));
		scale: 1.08;
		transform: rotate(6deg);
	}
}

.font-preview-stack {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	margin: var(--card-gap) 0 !important;
}

.font-preview-label {
	color: oklch(var(--c3));
}

.colour-tile {
	display: block;
	width: 20px;
	height: 20px;
	background: oklch(var(--h3));
	box-shadow: inset 0 0 0 1px oklch(var(--c1) / 8%);
	border-radius: 50px;

	&.l3 {
		background: oklch(var(--l3-c));
	}

	&.l4 {
		background: oklch(var(--l4-c));
	}

	&.h4 {
		background: oklch(var(--h4));
	}

	&.b2 {
		background: oklch(var(--b2));
	}

	&.b3 {
		background: oklch(var(--b3));
	}

	&.b4 {
		background: oklch(var(--b4));
	}

	&.b5 {
		background: oklch(var(--b5));
	}

	&.mini {
		width: 56px;
		height: 18px;
		border-radius: var(--radius-s);
	}
}

.colour-tile-and-button {
	display: flex;
	align-items: center;
	gap: 10px;
}

.colour-tile-wrap {
	display: flex;
	flex-direction: column;
	gap: 4px;
	text-align: center;
}

.colour-tile-type {
	font-size: 12px;
	color: oklch(var(--c3));
}

.colour-tiles {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 6px;
}

.font-preview {
	font-size: 24px !important;
	line-height: 30px !important;
	text-align: center;

	&[data-serif="true"] {
		font-family: var(--font-head);
		font-weight: var(--font-weight-head) !important;
		font-size: 30px !important;
	}
}

.album-cover-examples {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	gap: 4px;

	margin: var(--card-gap) 0;
}

.album-cover-example {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 6px;
	position: relative;

	box-shadow: var(--grid-colour-shadow, none);

	&:before {
		content: '';
		position: absolute;
		display: block;
		inset: 0;
		box-shadow: var(--grid-inset);
		border-radius: inherit;
		pointer-events: none;

		z-index: 100;
	}

	&:after {
		content: '';
		position: absolute;
		display: block;
		inset: 0;
		background-image: var(--cards-overlay-image-subtlest);
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
		background-repeat: repeat-x;
		z-index: 30;
		pointer-events: none;
	}
}

.album-cover-example-art {
	border-radius: inherit;

	& > img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: inherit;
		position: relative;
	}
}
