@import './mobile.css';

.tippy-box[data-theme="nav-window"],
.tippy-box[data-theme="auth-menu-v2"] {
	background: oklch(var(--menu-bg) / var(--solarium-opacity,
		var(--menu-opacity))) !important;
	padding: var(--item-list-gap) !important;
	border-radius: var(--card-radius) !important;
	border: 1px solid var(--menu-border) !important;
	box-shadow: var(--override-full-shadow,
		var(--menu-shadow)) !important;
	overflow: hidden;

	text-align: left;

	&[data-theme="nav-window"] {
		max-width: 980px !important;
	}

	font-size: var(--font-size);

	background-image: var(--cards-overlay-image-subtle, unset),
		var(--cards-overlay-mini) !important;
	background-repeat: repeat-x !important;
	background-position: 0 0 !important;

	.sep {
		margin: 6px var(--button-sides);
		width: unset !important;

		&:first-child {
			display: none;
		}
	}
}

.tippy-box[data-theme="auth-menu-v2"] {
	padding: 4px !important;
	border-radius: calc(var(--item-med-radius) + 4px) !important;

	--page-width: 230px;

	overflow: hidden;
}

.auth-menu-v2 {
	display: flex;
	flex-direction: column;
	gap: 4px;

	.side {
		position: relative;
		padding: 0 var(--item-list-gap);
		margin: 0 calc(-1 * var(--item-list-gap));
		width: var(--page-width);
		height: var(--page-height);
		overflow: hidden;

		.side-page {
			position: absolute;
			top: 0;
			bottom: 0;
			height: var(--page-height);
			overflow-x: hidden;
			overflow-y: hidden;

			width: calc(var(--page-width) - (var(--item-list-gap) * 2));

			transition-property: transform, opacity;
			transition-duration: 0.25s;
			transition-timing-function: var(--trans-function-ani);

			display: flex;
			flex-direction: column;
			gap: var(--menu-gap);

			&:hover {
				overflow-y: auto;
			}
		}

		&[data-page="2"] [data-page="2"],
		&[data-page="1"] [data-page="1"] {
			left: var(--item-list-gap);
			transform: translateX(0);
		}

		&[data-page="2"] [data-page="1"] {
			transform: translateX(-100px);
			opacity: 0;
			pointer-events: none;
		}

		&[data-page="1"] [data-page="2"] {
			transform: translateX(100px);
			opacity: 0;
			pointer-events: none;
		}
	}

	.primary {
		display: flex;
		flex-direction: column;
		gap: var(--item-list-gap);
		overflow: unset;

		height: unset;

		padding: 0 var(--item-list-gap);

		& > .auth-bg-container > .bg {
			z-index: 0;
			pointer-events: none;
			opacity: 0.17;

			background-size: cover;
			background-position: center;

			width: 100%;
			height: 100%;

			&:after {
				content: "";
				position: absolute;
				inset: 0;
				background: linear-gradient(180deg,
					transparent 0%,
					transparent 50%,
					oklch(var(--b6)) 100%);
			}
		}

		.auth-menu-header {
			display: grid;
			grid-template-columns: auto 1fr;
			gap: 2px var(--item-list-gap);
			align-items: center;
			flex: 1;
			position: relative;

			--top: 10px;
			--side: 6px;

			padding: calc(var(--top) + 4px) calc(var(--side) + 4px);
			margin: -4px calc(-1 * var(--side)) calc(-1 * (var(--top) + 4px));

			& > .link-block-cover-link {
				position: absolute;
				inset: 0;
				z-index: 2;
			}

			& > .avatar {
				width: 36px;
				height: 36px;
				margin: -4px 0;

				grid-row: span 2;

				transition-property: transform;
				transition-duration: var(--trans);
				transition-timing-function: var(--trans-function);

				z-index: 2;
			}

			& > .name {
				color: oklch(var(--c1));
				font-weight: var(--font-weight-medium);

				z-index: 2;

				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				max-width: 170px;
			}
		}

		& > .floating {
			width: 100%;
			justify-content: space-between;
			flex-direction: row-reverse;

			position: relative;
			z-index: 20;
		}
	}
}

.music-status {
	width: 300px;
}

.status {
	display: flex;
	align-items: center;
	gap: 10px;
}

.status-image {
	--size: 56px;

	width: var(--size);
	height: var(--size);
	background-color: var(--avatar-generic-background);
	border-radius: var(--radius-s);
	overflow: hidden;
	position: relative;

	flex-shrink: 0;

	&.smaller {
		--size: 40px;
		--mask-size: 20px;
	}

	& > img {
		width: 100%;
		height: 100%;
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		inset: 0;
		pointer-events: none;
		box-shadow: var(--avatar-inset);
		border-radius: inherit;
	}

	&[data-live="true"] {
		animation: animate_status 3s linear infinite;
	}
}

@keyframes animate_status {
	from,
	to {
		filter: brightness(1);
	}

	50% {
		filter: brightness(1.4);
	}
}

.status-info {
	display: flex;
	flex-direction: column;
}

.status-text {
	margin: unset;
	cursor: default;
	position: relative;
	z-index: 20;

	&.smaller {
		font-size: 13px;
	}

	& > .artist > a,
	& > a {
		display: inline-block;
		min-width: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex-shrink: 1;

		&:not(:hover) {
			color: inherit;
		}
	}

	&.status-title {
		display: flex;
		color: oklch(var(--c2));
	}

	&.status-artist {
		color: oklch(var(--c2) / 80%);

		& > .artist {
			display: flex;
			min-width: 0;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			flex-shrink: 1;

			& > a + a {
				margin-left: 4px;
			}
		}
	}

	&.status-album {
		color: oklch(var(--c3));
		font-size: 13px;
	}
}

.status-time {
	font-size: 13px;
	margin-top: 10px;
	color: oklch(var(--c3));
}

.status-time-text {
	--mask-colour: oklch(var(--c3) / 80%);
}

.update-available-banner {
	padding: var(--item-list-gap);
	margin: calc(-1 * var(--item-list-gap)) calc(-1 * var(--item-list-gap)) 4px;
	font-weight: var(--font-weight-medium);

	user-select: none;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--icon-gap);

	font-size: 12px;

	--icon-size: 12px;

	& > .update-container {
		display: flex;
		animation: staggered_spinner 3s cubic-bezier(0.34, 1.56, 0.64, 1)
			infinite;
	}

	&:hover {
		color: oklch(var(--l3-c));
	}
}

.auth-dropdown-menu-wrap {
	display: none !important;
}

.checkmark {
	--icon: var(--mask);
	--icon-size: 14px;
	--mask: var(--icon-16-language);
}

.auth-bg-container {
	position: absolute;
	inset: calc(-1 * var(--item-list-gap)) 0 0;
}
