.button-container-wrapper,
.top-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px var(--card-gap);
	margin-bottom: var(--card-gap);

	&+.library-fetch,
	&+.buffer-standard,
	&+.alert {
		margin-top: unset !important;
	}

	&.spacing {
		height: 33px;
	}

	&.no-margin {
		margin-bottom: unset;
	}

	&[data-theme="nier"] {
		background: oklch(0.4128 0.0151 91.68);
		--c1: var(--b5);
		--c2: var(--b5);
		--c3: var(--b6);
		color: oklch(var(--b5));
		--icon-colour: oklch(var(--b5));
		padding: 6px 8px;
	}

	&>h2 {
		margin: unset !important;
	}
}

.demo-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
	gap: 20px;
}

.demo-item-wrap {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.demo-item {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
