.button-container-wrapper,
.top-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 10px var(--card-gap);

	& + .library-fetch,
	& + .buffer-standard,
	& + .alert {
		margin-top: unset !important;
	}

	&.spacing {
		height: 33px;
	}
}
