.legacy-section-controls,
.content-top.legacy-content-top,
.legacy-header {
    display: none;
}

.about-artist-panel {
    margin-top: var(--card-gap) !important;
}

.about-artist-panel,
.page-header {
    display: flex;
    gap: var(--card-padding);

    --page-header-avatar-size: 200px;
    --page-header-avatar-radius: var(--item-big-radius);
}

.page-header {
    margin: 50px -40px 20px !important;
    padding: 0 var(--card-padding);

    align-items: center;
    gap: calc(var(--card-gap) + var(--card-padding));
    width: var(--cards-width);

    contain: layout;

    &.for-profile {
        --page-header-avatar-radius: var(--avatar-radius);
        --page-header-avatar-gloss: none;
    }

    &.mockup,
    &.no-margin {
        margin-top: unset !important;
    }

    &.no-top-margin {
        margin: 0 -40px !important;
        padding-left: 40px !important;
        padding-right: 40px !important;

        .avatar-side {
            margin: unset;
        }
    }

    @media (max-width: 980px) {
        padding: var(--card-padding) !important;
        flex-direction: column !important;
        align-items: center !important;
        text-align: center;
        gap: 10px !important;

        & > .page-header-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: unset;

            .page-header-artist,
            .sub-text,
            .header-title-label-wrap {
                justify-content: center;
            }

            .page-header-artist {
                flex-wrap: wrap;
            }
        }
    }
}

.calendar-side {
    display: flex;
    align-items: center;
    width: fit-content;
    flex-shrink: 0;
    text-shadow: unset !important;

    .calendar {
        display: flex;
        background-color: oklch(var(--b5), 40%);
        width: var(--calendar-width);
        height: var(--calendar-height);
        cursor: default;

        align-items: center;
        flex-direction: column;
        text-align: center;

        border-radius: var(--calendar-radius);
        box-shadow: var(--group-shadow);
    }
}

.for-artist, .for-album, .for-track {
    & > .page-header-info {
        .page-header-title {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            line-clamp: 1;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            font-size: 26px;
            line-height: 40px;

            .feat {
                padding: 0 6px;
                background-color: oklch(var(--b5), 40%);
                border-radius: var(--item-med-radius);
                font-size: 20px;
                line-height: 27px;
                display: inline-flex;
                position: relative;
                bottom: 2px;
            }

            div {
                display: inline;

                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
        .page-header-artist {
            font-size: 20px;
            line-height: 24px;
        }

        [data-multi="true"] .page-header-title {
            gap: unset;
        }
    }
}

.obsession-track-header {
    justify-content: center;
    text-align: center;
    /*margin: -630px 0 0 0 !important;*/
    margin: 60px 0 !important;

    .avatar-side {
        --avatar-size: 110px !important;
    }

    .info-side {
        flex: unset;

        h2,
        .sub-text,
        .title-container {
            justify-content: center;
        }
    }
}

.page-header-info:not(.has-main-info),
.main-info {
    filter: var(--header-filter-shadow) !important;
}

.page-header-avatar {
    background: var(--avatar-generic-background);
    width: var(--page-header-avatar-size);
    height: var(--page-header-avatar-size);
    border-radius: var(--page-header-avatar-radius);
    box-shadow: 0 6px 40px 10px oklch(var(--h4) / 40%), var(--subtle-shadow);
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    --mask-size: var(--cover-size-200) !important;

    cursor: pointer;

    &:after {
        content: "";
        position: absolute;
        inset: 0;
        background-image: var(--gloss-image) !important;
        background-size: 100% !important;
        opacity: var(--gloss, 0);
        pointer-events: none;
        padding: unset !important;
        box-shadow: unset !important;

        display: var(--page-header-avatar-gloss, block);
    }

    & > img {
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    & > a {
        position: absolute;
        inset: 0;
        z-index: 150;
        cursor: pointer;
    }

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: var(--trans-function);

    &:active {
        transform: scale(0.96);
    }
}

.page-header-icon {
    display: flex;
    width: 28px;
    flex-shrink: 0;
    filter: var(--header-filter-shadow);
    margin-right: calc(-1 * var(--card-gap));

    --icon-size: 28px;
}

.page-header-info {
    & > .sub-text {
        justify-content: unset;
        align-items: center;
        gap: 4px;

        & > .info-tip {
            --icon-size: 14px;
        }
    }

    .page-header-title {
        margin: unset;
        font-size: calc(26px * var(--custom-font-size-multiplier, 1));
        line-height: 40px;
        font-weight: var(--font-weight-medium);
        letter-spacing: unset;
        cursor: default;

        color: oklch(var(--c1));
        position: relative;
    }

    & > .page-header-artist {
        font-size: 18px;
        line-height: 22px;
        color: oklch(var(--c2) / 80%);
        cursor: default;
        margin: unset !important;

        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        line-clamp: 1;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        position: relative;

        .header-new-crumb {
            font-size: inherit;
            line-height: inherit;
        }
    }

    .header-title-secondary {
        margin-top: 4px !important;
        flex-wrap: wrap;
        filter: var(--nav-filter-shadow);

        @media (max-width: 980px) {
            justify-content: center;

            & > .header-username {
                flex-basis: 100%;
            }
        }
    }

    .profile-top-header {
        margin-top: var(--card-gap);
    }
}

.title-container {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: default;
    color: oklch(var(--c1));

    & > .page-header-title {
        color: oklch(var(--c1));

        & > a {
            text-decoration: var(
                --force-underline,
                none
            ) !important;
        }

        display: flex;
        gap: var(--item-list-gap);

        & > .feat {
            font-size: 18px;
            color: oklch(var(--c2) / 70%);
        }
    }

    @media (max-width: 980px) {
        flex-direction: column;
    }

    &[data-multi="true"] {
        & > .page-header-title {
            color: oklch(var(--c2) / 80%);
            gap: unset;

            & > a {
                color: oklch(var(--c1));

                transition-property: color;
                transition-duration: var(--trans);
                transition-timing-function: var(--trans-function);

                &:hover {
                    color: oklch(var(--l2-c-theme-switch));
                    transition: none;
                }

                &:not(:first-child) {
                    margin-left: var(--item-list-gap);
                }
            }
        }
    }
}

.header-new-chart-position-number {
    font-weight: var(--font-weight-medium);
    margin-left: calc(var(--card-gap) - 6px);
    color: oklch(var(--l2-c-theme-switch));
    text-shadow: 0 0 20px oklch(var(--h4));

    font-size: 18px;
    line-height: 22px;
}

.about-artist-panel {
    flex-direction: column;
    margin: unset !important;
    padding-top: calc(var(--card-padding) + 200px);

    & > .avatar-side {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: unset !important;
        height: 350px;
        box-shadow: unset;
        transform: unset !important;
        border-radius: unset !important;

        &:before {
            display: none !important;
        }

        --mask: linear-gradient(0deg, transparent 0%, #000 50%, transparent 100%);
        mask-image: var(--mask);
        -webkit-mask-image: var(--mask);
        opacity: 0.2;

        img {
            object-fit: cover;
            border-radius: unset !important;
        }
    }

    & > .info-side {
        z-index: 30;
        pointer-events: none;

        .wiki-block,
        a {
            pointer-events: auto;
        }
    }

    .wiki-block {
        width: 100%;
    }
}

.about-artist-listeners {
    color: oklch(var(--c3));
    margin: 6px 0;
}
.about-artist-tags {
    margin-bottom: var(--card-gap);
}


.artist-for-album, .artist-for-track {
    display: flex;
    color: oklch(var(--c1), 0.8);
    font-size: 24px;
    line-height: 24px;

    .header-new-crumb {
        color: inherit;
        opacity: unset;
        font-weight: var(--font-weight-medium);
        transition-property: color;
        transition-duration: var(--trans);
        transition-timing-function: var(--trans-function);
        margin-left: 4px;

        &:hover {
            color: oklch(var(--c1));
            transition: none;
        }

        &:first-child {
            margin-left: unset;
        }
    }
}

.greeting {
    font-size: 16px;
    line-height: 20px;
    cursor: default;
    font-weight: var(--font-weight-medium);
}


.suggest-side {
    background: oklch(var(--b5), 40%);
    border-radius: var(--card-radius);

    & > .cta {
        margin: unset !important;
    }
}
