.legacy-section-controls,
.content-top.legacy-content-top,
.legacy-header {
	display: none;
}

.page-header {
	display: flex;
	gap: var(--card-padding);

	--page-header-avatar-size: 180px;
	--page-header-avatar-radius: var(--item-big-radius);

	margin: 30px -40px 20px !important;
	padding: 0 var(--card-padding);

	align-items: center;
	gap: calc(var(--card-gap) + var(--card-padding));
	width: var(--cards-width);

	contain: layout;

	/*&:not(.same) {
	    animation: new_page_header 0.6s var(--trans-function-ani);
	}*/

	&.for-profile {
		--page-header-avatar-radius: var(--avatar-radius);
		--page-header-avatar-gloss: none;
	}

	&.mockup,
	&.no-margin {
		margin-top: unset !important;
	}

	&.no-top-margin {
		margin: 0 -40px !important;
		padding-left: 40px !important;
		padding-right: 40px !important;

		.avatar-side {
			margin: unset;
		}
	}

	@media (max-width: 980px) {
		padding: var(--card-padding) !important;
		margin: unset !important;
		flex-direction: column !important;
		align-items: center !important;
		text-align: center;
		gap: 10px !important;

		--page-header-avatar-size: 100px;
		--page-header-avatar-radius: var(--item-big-radius);

		&>.page-header-info {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: unset;

			.page-header-artist,
			.sub-text,
			.header-title-label-wrap {
				justify-content: center;
			}

			.page-header-artist {
				flex-wrap: wrap;
			}
		}
	}
}

@keyframes new_page_header {
	from {
		translate: 0 10px;
		opacity: 0;
	}

	to {
		translate: 0 0;
		opacity: 1;
	}
}

.calendar-side {
	display: flex;
	align-items: center;
	width: fit-content;
	flex-shrink: 0;
	text-shadow: unset !important;

	.calendar {
		display: flex;
		background-color: oklch(var(--b5), 40%);
		width: var(--calendar-width);
		height: var(--calendar-height);
		cursor: default;

		align-items: center;
		flex-direction: column;
		text-align: center;

		border-radius: var(--calendar-radius);
		box-shadow: var(--group-shadow);
	}
}

.for-artist,
.for-album,
.for-track {
	&>.page-header-info {
		.page-header-title {
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			line-clamp: 1;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			font-size: 26px;
			line-height: 40px;

			.feat {
				padding: 0 0 0 10px;
				background-color: oklch(var(--b5), 40%);
				border-radius: var(--item-med-radius);
				font-size: 20px;
				line-height: 27px;
				display: inline-flex;
				position: relative;
				bottom: 1px;
			}
		}

		.page-header-artist {
			font-size: 20px;
			line-height: 24px;
		}

		[data-multi="true"] .page-header-title {
			gap: unset;
		}
	}
}

.for-obsession {
	justify-content: center;
	text-align: center;

	&>.page-header-info {
		&>.sub-text {
			width: fit-content;
			margin: 0 auto;
		}

		&>.title-container {
			justify-content: center;
		}
	}
}

.obsession-track-header {
	justify-content: center;
	text-align: center;
	/*margin: -630px 0 0 0 !important;*/
	margin: 60px 0 !important;

	.avatar-side {
		--avatar-size: 110px !important;
	}

	.info-side {
		flex: unset;

		h2,
		.sub-text,
		.title-container {
			justify-content: center;
		}
	}
}

.page-header-info:not(.has-main-info),
.main-info {
	filter: var(--header-filter-shadow) !important;
}

.page-header-avatar-list {
	display: flex;
	align-items: center;

	&:hover {
		--disc-move: 16px;
		--disc-opacity: 1;
		--disc-rotate: 45deg;
	}
}

.page-header-disc {
	background-image: var(--disc);
	--w: calc(var(--page-header-avatar-size) * 0.8);

	width: var(--w);
	height: var(--w);
	display: flex;

	margin-left: calc(-1 * (var(--page-header-avatar-size) * 0.6));
	position: relative;
	left: var(--disc-move, 0px);

	background-size: 100%;

	opacity: var(--disc-opacity, 0.9);
	mix-blend-mode: lighten;

	z-index: -1;

	transition-property: left, opacity, transform;
	transition-duration: 0.4s;
	transition-timing-function: var(--trans-function-ani);

	filter: var(--header-disc-filter, brightness(0.92));

	transform: rotate(var(--disc-rotate, 0deg));
}

.page-header-avatar {
	background: var(--avatar-generic-background);
	width: var(--page-header-avatar-size);
	height: var(--page-header-avatar-size);
	border-radius: var(--page-header-avatar-radius);
	box-shadow: 0 10px 80px 10px oklch(var(--h4) / 40%), var(--menu-shadow);
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	--mask-size: var(--cover-size-200) !important;

	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		inset: 0;
		display: block;
		box-shadow: var(--avatar-inset);
		border-radius: inherit;
		pointer-events: none;
	}

	&:after {
		content: "";
		position: absolute;
		inset: 0;
		background-image: var(--gloss-image) !important;
		background-size: 100% !important;
		opacity: var(--gloss, 0);
		pointer-events: none;
		padding: unset !important;
		box-shadow: unset !important;

		display: var(--page-header-avatar-gloss, block);
	}

	&>img {
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	&>a {
		position: absolute;
		inset: 0;
		z-index: 150;
		cursor: pointer;
	}

	scale: 1;

	&:hover {
		scale: 1.06;
		filter: brightness(110%);
	}

	transition-property: scale,
	filter,
	box-shadow;
	transition-duration: 0.4s;
	transition-timing-function: var(--trans-function-ani);

	&:active {
		scale: 0.96;
	}
}

.page-header-icon {
	display: flex;
	flex-shrink: 0;
	margin-right: calc(-1 * var(--card-padding));
	background-color: oklch(var(--c2) / 90%);
	border-radius: 50px;
	padding: 10px;
	color: oklch(var(--b6));

	--icon-size: 24px;
}

.page-header-info {

	&>.main-info>.sub-text,
	&>.sub-text {
		justify-content: unset;
		align-items: center;
		gap: 4px;

		&>.info-tip {
			--icon-size: 14px;
		}
	}

	.page-header-title {
		margin: unset;
		font-size: calc(26px * var(--custom-font-size-multiplier, 1));
		line-height: 40px;
		font-weight: var(--custom-font-weight, var(--font-weight-bold));
		letter-spacing: unset;
		cursor: default;

		color: oklch(var(--c1));
		position: relative;

		&>a {
			color: inherit !important;
		}

		&.generic-page-title {
			font-size: 24px;
			line-height: 30px;
		}

		/*&.generic-page-title {
		    font-family: var(--font-head);
		    font-style: var(--font-style-head);
		    font-weight: var(--font-weight-head, var(--font-weight-bold));
		    }*/
	}

	&>.page-header-artist {
		font-size: 18px;
		line-height: 22px;
		color: oklch(var(--c2) / 80%);
		cursor: default;
		margin: unset !important;

		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		line-clamp: 1;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		position: relative;

		.header-new-crumb {
			font-size: inherit;
			line-height: inherit;
		}
	}

	.header-title-secondary {
		margin-top: 6px !important;
		flex-wrap: wrap;
		filter: var(--nav-filter-shadow);

		@media (max-width: 980px) {
			justify-content: center;

			&>.header-username {
				flex-basis: 100%;
			}
		}
	}

	.profile-top-header {
		margin-top: var(--card-gap);
	}
}

.title-container {
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: default;
	color: oklch(var(--c1));

	&>.page-header-title {
		color: oklch(var(--c1));

		&>a {
			text-decoration: var(--force-underline,
					none) !important;
		}

		display: flex;
		gap: var(--item-list-gap);

		&>.feat {
			font-size: 18px;
			color: oklch(var(--c2) / 70%);
		}
	}

	@media (max-width: 980px) {
		flex-direction: column;
	}

	&[data-multi="true"] {
		&>.page-header-title {
			color: oklch(var(--c2) / 80%);
			gap: unset;

			&>a {
				color: oklch(var(--c1));

				transition-property: color;
				transition-duration: var(--trans);
				transition-timing-function: var(--trans-function);

				&:hover {
					color: oklch(var(--l2-c-theme-switch));
					transition: none;
				}

				&:not(:first-child) {
					margin-left: var(--item-list-gap);
				}
			}
		}
	}
}

.dollar {
	font-style: normal;
	color: #E51419;
	font-family: Arial;
	font-weight: 500;
}

.brat {
	font-family: Arial;
	text-transform: lowercase;
	font-weight: 100;
	transform: scaleX(0.95) scaleY(1.2);
	transform-origin: left;
	display: inline-block;
}

.header-new-chart-position-number {
	font-weight: var(--font-weight-medium);
	margin-left: calc(var(--card-gap) - 6px);
	color: oklch(var(--l2-c-theme-switch));
	text-shadow: 0 0 20px oklch(var(--h4));

	font-size: 18px;
	line-height: 22px;
}

.artist-for-album,
.artist-for-track {
	display: flex;
	color: oklch(var(--c1), 0.8);
	font-size: 24px;
	line-height: 24px;

	.header-new-crumb {
		color: inherit;
		opacity: unset;
		font-weight: var(--font-weight-medium);
		transition-property: color;
		transition-duration: var(--trans);
		transition-timing-function: var(--trans-function);
		margin-left: 4px;

		&:hover {
			color: oklch(var(--c1));
			transition: none;
		}

		&:first-child {
			margin-left: unset;
		}
	}
}

.greeting {
	color: oklch(var(--c2));
	font-weight: var(--font-weight-medium);
	font-size: 16px;
	line-height: 20px;
	cursor: default;
}

.suggest-side {
	background: oklch(var(--b5), 40%);
	border-radius: var(--card-radius);

	&>.cta {
		margin: unset !important;
	}
}
