.plot-header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--card-padding);
}

.plot-header-side {
    display: flex;
    flex-direction: column;
    gap: 4px;

    &.plot-header-side-main {
        flex: 1;
    }
}

.plot-header-label {
    color: oklch(var(--c3));
    font-size: 13px;
    cursor: default;
}

.plot-header-options {
    display: flex;
    gap: var(--button-list-gap);
}

.plot-body {
    box-shadow: inset 0 0 0 1px var(--separator-base);
    border-radius: var(--item-small-radius);
    padding: 10px;
    height: 600px;
}

.plot-canvas-container {
    height: 100%;
}

.plot-footer {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 30px;
    margin-top: var(--card-gap);
}


.plot-footer-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.plot-footer-colour {
    width: 4px;
    height: 14px;
    border-radius: 50px;
}

.plot-footer-info {
    display: flex;
    flex-direction: column;
}

.plot-footer-header {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 13px;
}

.plot-header-avatar {
    --w: 14px;
    width: var(--w);
    height: var(--w);

    display: flex;
}

.plot-footer-media {
    font-weight: var(--font-weight-medium);
}
