.coloured-cta {
	--bg: transparent;
	--bg-hov: transparent;
	--bg-atv: transparent;
	--shadow: none;
	--radius: 0;
	--padding: 0 0 0 calc(var(--icon-size) + 10px);
	transform: none !important;

	--left: 0;
	margin: unset !important;
}

.cta-copy {
	display: flex;
	flex-direction: column;
	color: oklch(var(--c3));
}
.cta-link {
	--show-icon: none;
}

.coloured-cta--add-event-icon {
	--mask: var(--icon-16-calendar-add);
}
.coloured-cta--upload-image-icon {
	--mask: var(--icon-16-gallery-vertical);
}
