.stationlinks {
    order: 10;
}
.side-actions {
    display: flex;
    flex-direction: column;
    gap: 1px;
    /*margin: 0 calc(var(--card-padding) - (var(--inner) + var(--button-sides))) !important;

    --inner: 6px;

    background-color: oklch(var(--b6) / 80%) !important;
    padding: var(--inner) !important;
    border-radius: calc(var(--item-big-radius) + var(--inner)) !important;*/

    margin: 0 !important;
    background-color: oklch(var(--h4) / 5%) !important;
    border-radius: var(--item-med-radius) !important;
    padding: 2px 0 !important;
    overflow: hidden;

    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        max-height: 60px;
        pointer-events: none;
        border-radius: inherit !important;
        border-top-left-radius: unset;
        border-top-right-radius: unset;

        border: 1px solid oklch(var(--l3-c));
        border-top: none;

        --mask: linear-gradient(180deg, transparent, white);
        mask-image: var(--mask);
        -webkit-mask-image: var(--mask);

        opacity: 0.4;
        display: none;
    }

    &:is(section) {
        margin: 0 var(--card-padding) !important;
    }

    & > form {
        margin: unset;
    }

    & > .sep {
        margin: calc(var(--card-gap) - var(--button-list-gap)) var(--button-sides) !important;
        width: unset;
        display: none;
    }

    li,
    form {
        display: flex;
        gap: inherit;

        button {
            flex: 1;
        }
    }

    @media (max-width: 980px) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    & > :last-child {
        --last-child-sep: none;
    }
}

.side-action {
    --bg: transparent;
    --bg-hov: oklch(var(--h4) / 3%);
    --bg-atv: oklch(var(--h4) / 6%);
    --shadow: none;
    --col: oklch(var(--c2));
    border-radius: unset !important;
    overflow: unset;
    text-overflow: ellipsis;
    --padding: 7px calc(var(--button-sides) + 10px) 7px calc(var(--button-sides) + var(--icon-size) + 6px + 10px);
    margin: 0 -10px !important;
    width: unset !important;
    position: relative;
    min-height: var(--side-action-height) !important;
    --show-icon: block !important;
    --side-action-height: 36px;

    --icon-size: 16px !important;

    &:not(.stationlink, .listening-report-promo) {
        height: var(--side-action-height) !important;

        display: flex;
        align-items: center;
        text-align: left;
        gap: 4px;
        width: 100%;

        & > i {
            font-size: var(--font-size-sm);
            font-style: normal;
            opacity: 0.6;
        }

        @media (max-width: 980px) {
          height: fit-content !important;
        }
    }

    &:before {
        --mask-size: var(--icon-size);

        --left: calc(var(--button-sides) + 10px) !important;
        --margin-top: calc(-1 * (var(--mask-size, var(--icon-size)) / 2));
        background: var(--mask-colour) !important;
        border: unset;
        bottom: unset;
        transition-property: background;
        transition-duration: var(--trans);
        transition-timing-function: var(--trans-function);
    }

    &:after {
        content: '';
        display: var(--last-child-sep, block) !important;
        position: absolute !important;
        top: unset !important;
        left: calc(var(--button-sides) + var(--icon-size) + 6px) !important;
        right: var(--button-sides) !important;
        bottom: -1px !important;
        width: unset !important;
        height: 1px !important;
        background: oklch(var(--b2) / 30%) !important;
        border: none !important;
    }

    &.side-action,
    &.listening-report-promo {
        &:before {
            --mask-size: var(--icon-size);
            --left: 5px;
            --margin-top: calc(-1 * (var(--icon-size) / 2));
        }
    }

    .listening-report-promo-date,
    h4 {
        width: fit-content;
        --mask: var(--icon-16-arrow-right);
        position: relative;
        --mask-size: 12px;
        --margin-top: -6px;
        --left: none;
        --right: 0;
        padding-right: calc(12px + 4px) !important;

        &:after {
            transform: unset !important;
            filter: unset !important;
            transition: unset !important;
        }
    }

    &:hover {
        --col: oklch(var(--l3-c));
        --mask-colour: color-mix(in oklch, oklch(var(--l3-c)), oklch(var(--l4-c)) 40%);
        --force-font-weight: var(--font-weight-medium);
    }
}

.stationlink {
    --mask: var(--icon-16-radio);
}

.follow-combo {
    position: relative;
    margin-bottom: 1px;

    &:after {
        content: '';
        display: block !important;
        position: absolute !important;
        top: none !important;
        left: calc(var(--button-sides) + var(--icon-size) + 6px) !important;
        right: var(--button-sides) !important;
        bottom: -1px !important;
        width: unset !important;
        height: 1px !important;
        background: oklch(var(--b2) / 40%) !important;
    }
}

.side-action[data-friends="true"],
.attendance-btn--turn-off,
[data-toggle-button-current-state="loved"] > form > .header-new-love-button,
[data-toggle-button-current-state="bookmarked"] > form > .header-new-bookmark-button,
.side-action[data-is-shortcut="true"],
[data-toggle-button-current-state="followed"] > form > .side-action[data-type="follow"] {
    --col: oklch(var(--l3-c));
    --mask-colour: color-mix(in oklch, oklch(var(--l3-c)), oklch(var(--l4-c)) 40%);
    --force-font-weight: var(--font-weight-medium) !important;

    &:before {
        background: var(--mask-colour) !important;
    }
}

.side-action[data-type="close_friends"] {
    --font-size: 0;
    width: var(--side-action-height) !important;
    flex: unset !important;
    --padding: 6px var(--button-sides) !important;

    &:before {
        --left: 50% !important;
        --margin-left: calc(-1 * (var(--icon-size) / 2)) !important;
    }
}

.side-actions,
.medium-interactions,
.mini-interactions {
    order: -11;
}


.follow-combo {
    gap: 2px !important;
}

.header-new-love-button {
    & > .toggle-button--text {
        display: none;
    }

    & > span {
        font-size: var(--font-size) !important;
        order: -1;
    }
}


.listen-sep {
    margin: var(--card-gap) 0;
}
