.stationlinks {
    order: 10;
}
.side-actions > div:not([data-toggle-button], [data-tippy-root], .sep) {
    display: none;
}
.side-actions,
.listening-report-promos,
.stationlink-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: var(--card-gap);

    & > form {
        margin: unset;
    }

    & > .sep {
        margin: calc(var(--card-gap) - var(--button-list-gap)) 0 !important;
    }

    li,
    form {
        display: flex;
        gap: inherit;

        button {
            flex: 1;
        }
    }
}

.side-action,
.listening-report-promo,
.stationlink {
    --bg: transparent;
    --bg-hov: var(--side-action-hov);
    --bg-atv: var(--side-action-atv);
    --shadow: none;
    --col: hsl(var(--c2));
    overflow: unset;
    text-overflow: ellipsis;
    --mask-size: 12px;
    --padding: 6px var(--button-sides) 6px calc(var(--button-sides-icon) + var(--icon-size) + 6px);
    width: unset;
    margin: 0 calc(-1 * var(--button-sides)) !important;
    position: relative;
    min-height: var(--side-action-height) !important;
    --show-icon: block !important;
    --side-action-height: 34px;

    &.side-action {
        height: var(--side-action-height) !important;
    }

    &.stationlink {
        --mask: var(--icon-16-radio);
    }

    &:before {
        display: none !important;
    }

    &:after {
        --mask-size: var(--icon-size);

        --left: var(--button-sides-icon);
        --margin-top: calc(-1 * (var(--mask-size, var(--icon-size)) / 2));
        background: var(--mask-colour) !important;
        border: unset;
        bottom: unset;
        transition-property: background;
        transition-duration: var(--trans);
        transition-timing-function: var(--trans-function);
    }

    &.side-action,
    &.listening-report-promo {
        &:before {
            border-radius: var(--item-med-radius);
        }

        &:after {
            --mask-size: 18px;
            --left: 5px;
            --margin-top: -9px;
        }
    }

    .listening-report-promo-date,
    h4 {
        width: fit-content;
        --mask: var(--icon-16-arrow-right);
        position: relative;
        --mask-size: 12px;
        --margin-top: -6px;
        --left: none;
        --right: 0;
        padding-right: calc(12px + 4px) !important;

        &:after {
            transform: unset !important;
            filter: unset !important;
            transition: unset !important;
        }
    }

    &:hover {
        &:before {
            background: hsl(var(--f4)) !important;
            transition: none;
        }
    }

    &.side-action {
        display: flex;
        align-items: center;
        text-align: left;
        gap: 4px;
        width: 100%;

        i {
            font-size: var(--font-size-sm);
            font-style: normal;
            opacity: 0.6;
        }
    }

    &[data-friends="true"],
    &.attendance-btn--turn-off,
    [data-toggle-button-current-state="loved"] > form > &,
    [data-toggle-button-current-state="bookmarked"] > form > &,
    &[data-is-shortcut="true"],
    [data-toggle-button-current-state="followed"] > form > &[data-type="follow"] {
        --col: hsl(var(--l3-c));
        --mask-colour: color-mix(
            in hsl,
            hsl(var(--l3-c)),
            hsl(var(--l4-c)) 40%
        );
        --force-font-weight: var(--font-weight-medium) !important;

        &:before {
            background: hsl(var(--h3)) !important;
            box-shadow:
                0 3px 12px hsl(var(--h4), 32%),
                var(--interactable-outer) !important;
        }

        &:after {
            background: hsl(var(--b7)) !important;
        }

        &:hover {
            &:before {
                background: color-mix(
                    in hsl,
                    hsl(var(--h4)),
                    hsl(var(--h3)) 80%
                ) !important;
                transition: none;
            }
        }

        [data-ff--menu_like_side_actions="true"] & {
            --bg: hsla(var(--h4), 15%) !important;
            --bg-hov: hsla(var(--h4), 25%) !important;
            --bg-atv: hsla(var(--h4), 35%) !important;
            --col: hsl(var(--l3-c)) !important;
            --mask-colour: color-mix(
                in hsl,
                hsl(var(--l3-c)),
                hsl(var(--l4-c)) 40%
            );

            &:before {
                background: var(--card-border-base) !important;
            }

            &:after {
                background: var(--mask-colour) !important;
            }
        }
    }
}

.side-action[data-type="close_friends"] {
    --font-size: 0;
    width: var(--side-action-height) !important;
    flex: unset !important;
    --padding: 6px var(--button-sides) !important;

    &:after {
        --left: 50% !important;
        --margin-left: calc(-1 * (var(--icon-size) / 2)) !important;
    }
}

.side-actions,
.medium-interactions,
.mini-interactions {
    order: -11;
}


.follow-combo {
    gap: calc((var(--button-sides) * 2) + 2px) !important;
}

.header-new-love-button {
    & > .toggle-button--text {
        display: none;
    }

    & > span {
        font-size: var(--font-size) !important;
        order: -1;
    }
}
