.tags-list,
.catalogue-tags {
	display: flex !important;
	align-items: center;
	gap: 4px;
	margin: unset;
	/* todo: work on this better, it only occurs if
	user tags are too long next to global tags */
	flex-wrap: wrap;
}

.tags-user-avatar {
	display: none !important;
}

.music-featured-artist-tags .tag,
.catalogue-tags .tag {
	display: flex;
	margin: unset;
	max-width: unset;
}

/* apply tag styling to everything tag-related */
.tag-item,
.tags-add-cta,
.tags-add,
.tags-view-all {
	--bg: transparent;
	--bg-hov: oklch(var(--b4) / 40%);
	--bg-atv: oklch(var(--b4) / 60%);
	--col: oklch(var(--c3));
	--shadow: inset 0 0 0 1px var(--card-border-base);
	--padding: 5px 9px;
	--radius: var(--item-med-radius);
	min-width: 28px !important;
	width: fit-content;

	--left: calc((28px - var(--icon-size)) / 2);

	min-height: unset;
	margin-bottom: unset !important;
	letter-spacing: unset !important;
	margin: unset !important;
	position: relative;
	/* last.fm by default sets this to 150px,
	with the padding in bleh this conflicts with eg.
	the underground hip-hop tag */
	max-width: 400px !important;

	&:not([href]) {
		cursor: default;
	}

	&.user-created-tag {
		--bg: oklch(var(--h3) / 5%);
		--bg-hov: oklch(var(--h3) / 10%);
		--bg-atv: oklch(var(--h3) / 15%);
		color: oklch(var(--l2-c-theme-switch)) !important;
		/*box-shadow: 0 0 0 2px oklch(var(--h4), 30%) inset, var(--interact-shadow) !important;*/
	}

	&:not(.music-label) {
		text-transform: lowercase !important;
	}
}

.music-label {
	transition-property: color;
	transition-duration: var(--trans);
	transition-timing-function: var(--trans-function);

	&[aria-describedby] {
		color: oklch(var(--l3-c));
		transition: none;
	}
}

.tag>a {
	&:before {
		content: '#' !important;
		opacity: var(--tag-opacity);
	}
}

.tags-add-cta:before {
	display: none;
}

.catalogue-tags .tags-view-all {
	--font-size: 0;
	--mask: var(--icon-16-tag);
}

.col-sm-8 {
	padding: unset !important;
}

/* user personal tags */
.catalogue-tags .tags-separator {
	display: block;
	width: 100%;
	margin: unset;
	display: none;
}

/* add a tag */
.tags-add {
	--font-size: 0;
	--mask: var(--icon-16-plus);
	width: unset !important;
	height: unset !important;
}


.recommended-goto {
	display: flex;
	align-items: center;
	gap: 10px;
	position: relative;
	overflow: hidden;

	box-shadow: var(--subtle-shadow);

	background: oklch(var(--b6) / 60%);
	border-radius: var(--radius-m);
	padding: 20px 15px;

	--mask-colour: oklch(var(--c2));

	&:after {
		transform: unset !important;
		bottom: unset !important;
		top: 0;
		width: 160px;
		height: 80px;

		opacity: 1;
		transition: none;
		background: unset;
		border: 1px solid oklch(var(--c3) / 30%);
		border-radius: var(--radius-m);
		border-bottom: unset;
		border-top-right-radius: unset;
		border-bottom-right-radius: unset;
		border-bottom-left-radius: unset;
		border-right: unset;

		pointer-events: none;

		--mask: linear-gradient(145deg, white, transparent 30%);
		mask-image: var(--mask);
		-webkit-mask-image: var(--mask);
	}

	&:hover {
		&>.bleh-icon-arrow-right {
			translate: 2px 0;
		}

		&:before {
			translate: 120px 0;
		}

		&>.recommended-goto-bg {
			translate: 10px 0;
			scale: 1.03;
		}

		&>.recommended-goto-text>.recommended-goto-name {
			color: oklch(var(--l3-c));

			&:after {
				transform: scaleX(1);
			}
		}
	}

	&>.bleh-icon-arrow-right {
		--icon-size: 16px;
	}

	&:before {
		content: '';
		position: absolute;
		inset: 0;
		display: block;
		background: linear-gradient(90deg, transparent 20%, oklch(var(--h4)) 90%);

		translate: 150px 0;
		opacity: 0.8;

		pointer-events: none;

		transition-property: translate;
		transition-duration: 0.2s;
		transition-timing-function: var(--trans-function-ani);
	}

	scale: 1;

	&:active {
		scale: 0.98;
	}

	transition-property: scale;
	transition-duration: 0.2s;
	transition-timing-function: var(--trans-function-ani);
}

.recommended-goto-bg {
	position: absolute;
	inset: 0;

	background-size: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	opacity: 0.2;

	translate: 0 0;
	scale: 1;

	pointer-events: none;

	--mask: linear-gradient(90deg, transparent, white);
	mask-image: var(--mask);
	-webkit-mask-image: var(--mask);

	transition-property: translate, scale;
	transition-duration: 0.2s;
	transition-timing-function: var(--trans-function-ani);
}

.recommended-goto-text {
	display: flex;
	flex-direction: column;
	z-index: 1;
	flex: 1;
}

.recommended-goto-label {
	color: oklch(var(--c3));
}

.recommended-goto-name {
	color: oklch(var(--c2));
	--mask-colour: oklch(var(--l3-c) / 60%);
	font-weight: var(--font-weight-medium);
	font-size: 20px;
	line-height: 24px;
	position: relative;

	width: fit-content;

	transition-property: color;
	transition-duration: 0.2s;
	transition-timing-function: var(--trans-function-ani);

	&:after {
		content: '';
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		right: 0;
		height: 1px;
		background: var(--mask-colour);
		transform: var(--underline-scale, scaleX(0));
		transform-origin: bottom left;
		opacity: 0.6;

		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: var(--trans-function-ani);
	}
}
