.attendance-control {
	display: flex;
	flex-direction: column;
	gap: var(--card-gap);
}

.attendance-btn {
	position: relative;

	/* weirdly displaying if u have none selected */
	[data-ajax-form-state=""] &.attendance-btn--turn-off,
	[data-ajax-form-state="no"] &.attendance-btn--turn-off {
		display: none !important;
	}
}

.attendance-btn--attending {
	--mask: var(--icon-16-check);
}

.attendance-btn--maybe {
	--mask: var(--icon-16-question);
}

/*     ATTENDEES     */
.attendee-you-know-going {
	display: none;
}

/*     IN PANEL (NOT DEDICATED PAGE)     */
.attendee-summary-users {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px 6px;
	margin: unset;

	&:before,
	&:after {
		display: none;
	}
}

.attendee-summary-user {
	margin: unset !important;
	width: unset;

	--bg: transparent;
	--bg-hov: transparent;
	--bg-atv: transparent;
	--padding: 0;
	--radius: 0;
	--shadow: none;

	--avatar-size: 28px;

	&:hover {
		--force-underline: underline;
	}

	.attendee-summary-user-link {
		color: oklch(var(--l3-c));
		text-decoration: var(--force-underline, none) !important;

		&:before {
			content: '@';
			opacity: var(--at-opacity);
		}
	}

	.attendee-summary-user-avatar {
		position: absolute;
		border-radius: var(--avatar-radius);
		width: var(--avatar-size);
		height: var(--avatar-size);

		&:after {
			display: none;
		}
	}
}

.at {
	opacity: var(--at-opacity);
}

.attendee-summary-user-inner-wrap {
	display: flex;
	align-items: center;
	font-weight: var(--font-weight-medium);
	padding-left: calc(var(--avatar-size) + 8px);

	--mask-size: 16px;
}

.attendee-summary-user-link {
	position: static !important;
}
