body,
.theme-preview {
	&[data-bleh--theme="darker"] {
		/* any additional highlights */
		--b2: 0.37 calc(var(--sat) * 0.04 * var(--sat-bg, 1)) var(--hue);
		--b3: 0.31 calc(var(--sat) * 0.04 * var(--sat-bg, 1)) var(--hue);

		/* card border */
		--b4: 0.26 calc(var(--sat) * 0.03 * var(--sat-bg, 1)) var(--hue);

		/* card */
		--b5: 0.21 calc(var(--sat) * 0.03 * var(--sat-bg, 1)) var(--hue);

		/* root */
		--b6: 0.18 calc(var(--sat) * 0.02 * var(--sat-bg, 1)) var(--hue);
		--b8: 0.23 calc(var(--sat) * 0.02 * var(--sat-bg, 1)) var(--hue);
		--b7: 0 0 0;

		--menu-item-hov: oklch(var(--b4) / 60%);
		--menu-item-atv: oklch(var(--b4) / 80%);

		--separator-base: oklch(var(--b3) / 0.7);

		--setting-hover: oklch(var(--b4) / 30%);
		--setting-active: oklch(var(--b4) / 40%);

		--sidebar-border: color-mix(in oklch, oklch(var(--b5)), oklch(var(--b2)) 25%);

		--card-blur-bg: oklch(0.21 calc(var(--sat) * 0.05 * var(--sat-bg, 1)) var(--hue) / var(--solarium-opacity, 50%));
		--card-blur-bg-alt: oklch(var(--b5) / var(--solarium-opacity, 35%));
		--toolbar-bg: oklch(var(--b6) / 70%);

		--normal-shadow: 0 0 transparent;

		--card-border-base: oklch(var(--b3) / 0.5);
		--card-border-base-highlight: oklch(var(--b2) / 0.55);

		--menu-border: oklch(var(--b3) / 0.5);

		--shout-tree: oklch(var(--b2) / 30%);

		--inset-background: oklch(var(--b6) / 25%);
	}
}
